.woocommerce-cart{
	.lbl {
		display: none;
	}
}
label[for="coupon_code"]{
	display: none;
}
table.cart {
	border: 0;
	thead{
		background-color: #F2F2F2;
	}
	th{
		font-weight: 500;
		text-transform: uppercase;
		color: $heading_color;
		padding: 16px 24px;
		border-left: 0;
		border-right: 0;
		border-top: 1px solid #E0E0E0;
		&:first-child{
			border-left: 1px solid #E0E0E0;
		}
		&:last-child{
			border-right: 1px solid #E0E0E0;
		}
		@media (max-width: $md_max){
			display: none;
		}
	}
	 
	td{
		padding: 24px;
	    border-left: 0;
    	border-right: 0;
    	@media (max-width: $lg_max){
    		padding: 24px 15px;
    	}
    	&:first-child{
			border-left: 1px solid #E0E0E0;
		}
		&:last-child{
			border-right: 1px solid #E0E0E0;
		}
    	&.product-thumbnail{
    		padding-right: 0;
    		width: 94px;
    	}
    	&.product-name{
    		padding-left: 16px;
    		@media (min-width: $xxl_min){
	    		width: 458px;
	    	}
	    	@media (max-width: $lg_max){
	    		max-width: 300px;
	    	}
    	}
		&.product-name > div{
			> a{
				font-weight: 700;
				margin: 0 10px;
				&.remove{
					width: 20px;
					height: 20px;
					line-height: 20px;
					color: $white;
					background-color: black;
					text-align: center;
					@include border-radius(50%);
					&:hover{
						background-color: red;
					}
				}
				&:last-child{
					flex-basis: 0;
    				flex-grow: 1;
    				text-align: start;
				}
			}
		}
		&.product-price{
			color: $heading_color;
			font-weight: 500;
			font-size: 20px;
			line-height: 32px;
		}
		&.product-subtotal{
			color: $heading_color;
			font-weight: 500;
			font-size: 20px;
			line-height: 32px;
		}
		&.product-remove{
			@media (min-width: $xl_min){
				width: 120px;
			}
			text-align: center;
			a{
				font-size: 0;
				position: relative;
				width: 40px;
				height: 40px;
				border-radius: 0;
			    border: 1px solid #E0E0E0;
			    color: #E0E0E0;
			    display: inline-flex;
			    justify-content: center;
			    align-items: center;
			    &:before, &:after {
				    content: '';
				    position: absolute;
				    height: 1px;
				    width: 20px;
				    top: 50%;
				    background-color: $gray;
				    transform-origin: 50% 50%;
				    opacity: 1;
				    font-size: 20px;
				    @include transition(transform linear 0.25s);
				}
				&:before{
					@include transform(rotate(45deg));
				}
				&:after{
					@include transform(rotate(-45deg));
				}
				&:hover{
					border-color: $secondary_color;
					&:before, &:after {
						background-color: $secondary_color;
						@include transform(rotate(0deg));
					}
				}
			}
		}
		&.actions{
			border-left: 0;
			border-right: 0;
			padding: 32px 0 32px 0;
		}
		@media (max-width: $md_max){
			@include d-flex();
			align-items:center;
			border-left: 1px solid #E0E0E0;
			border-right: 1px solid #E0E0E0;
			justify-content: space-between;
			&:before,
			a.remove:before{
				display: inline-block;
				text-transform: uppercase;
				font-size: 14px;
				color: $heading_color;
				font-weight: 600;
			}
			 
			&.product-thumbnail,
			&.product-name{
				width: 100%;
				max-width: 100%;
			}
			&.product-name:before,
			&.product-price:before,
			&.product-quantity:before,
			&.product-subtotal:before{
				content: attr(data-title)':\00a0\00a0\00a0\00a0';
			}
			 
		}
	}
	@media (max-width: $md_max){
		tbody>tr:first-child > td:first-child{
			border-top: 1px solid #E0E0E0;
		}
		tbody>tr{
			position: relative;
		}
		td.product-thumbnail{
			background-color: #F2F2F2;
		}
		td.product-remove{
			padding: 0;
			border-bottom: 0;
			a{
				position: absolute;
				top: 15px;
				right: 15px;
				color: $secondary_color;
				border-color: $secondary_color;
				&:before,&:after{
					background-color: $secondary_color;
				}
			}
		} 
	}
	.product-name{
		font-weight: 500;
		color: $heading_color;
		a{
			color: inherit;
			&:hover{
				color: $link_color_hover;
			}
		}
	}
	.size-woocommerce_thumbnail{
		max-width: 70px;
		width: 70px;
	}
	 
	.coupon{
		&:not(.pxl-coupon){
			display: none;
		}
		.pxl-coupon-wrap{
			position: relative;
			width: 450px;
			@include transition(border-color .3s linear);
			@media (max-width: $md_max){
				width: 370px;
			}
			@media (max-width: 991px){
				width: 270px;
			}
			@media (max-width: $sm_max){
				width: 100%;
			}
		}
		.input-text{
			width: 100%;
			border-radius: 0;
			&:hover,&:focus{
				border-color: $secondary_color;
			}
		}
		@media (min-width: $md_min) and (max-width: $md_max){
			button{
				font-size: 0;
			    border: 0;
			    height: 50px;
			    width: 50px;
			    padding: 0 20px;
				&:before{
					content: '\e996';
					font-family: $pxli_font;
					font-size: 16px;
					display: inline-block;
					line-height: 1;

				}
			}
		}
	}
	td.actions{
		button[name="update_cart"]:not(.pxl-update-cart){
			display: none;
		}
		@media (max-width: $md_max){
			display: table-cell;
		}
	}
	button:disabled{
		opacity: 0.3;
		cursor: not-allowed;
	}
	 
	.pxl-btns-continue-update {
		.btn, button{
			@media (min-width: 992px){
				min-width: 216px;
			}
			@media (max-width: $xs_max){
				width: 100%;
			}
		}
	}
}
.cart-list-wrapper{
	.cart-list-head{
		font-size: 14px;
		color: $gray;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		border-bottom: 1px solid #dedede;
		padding-bottom: 10px;
		@media (max-width: $xs_max){
			display: none;
		}
		.product-name{
			margin-left: -90px;
		}
		.col-quantity{
    		width: 20%;
		}
	}
	.cart-list-item{
		padding: 25px 0;
		&+ .cart-list-item{
			border-top: 1px solid #dedede;
		}
		.product-thumbnail{
			img{
				width: 70px;
			}
		}
		.cart-item-info{
			padding-left: 20px;
		}
		.item-name{
			font-size: 16px;
			padding-top: 4px;
			line-height: 24px;
		}
		.variation{
			margin-top: 5px;
			padding-bottom: 4px;
			line-height: 1;
			span{
				margin: 0;
				padding: 0;
				position: relative;
				display: inline-flex;
				&+span{
					padding-left: 8px;
					&:before{
						content: ",";
						position: absolute;
						left: 0;
					}
				}
			}
		}
		.col-quantity{
    		width: 20%;
		}
		.pxl-quantity-wrap{
			align-items: center;
			.label{
				display: none;
			}
		}
		.quantity-inner{
			position: relative;
			display: inline-block;
			width: 80px;
			input{
			    line-height: 34px;
			    width: 100%;
	    		height: 34px;
	    		border: 1px solid #d0d0d0;
	    		font-size: 14px;
	    		text-align: center;
			}
			.quantity-button{
				position: absolute;
				top: 0;
				width: 35px;
				height: 34px;
				line-height: 32px;
				font-size: 11px;
				border: 0;
				cursor: pointer;
				display: flex;
			    align-items: center;
			    color: $body_color;
			    @include transition(color .3s ease);
				&:hover{
					color: #000;
				}
			}
			.quantity-up{
				right: 0;
				justify-content: center;
			}
			.quantity-down{
				left: 0;
				z-index: 1;
				justify-content: center;
			}
			&:hover{
				input{
					border-color: #000;
				}
			}
		}
		.item-price,
		.item-subtotal{
			font-size: 16px;
			color: $heading_color;
			padding-top: 4px;
		}
		.remove{
			font-size: 12px;
			color: $gray;
			&:hover{
				color: $link_color;
			}
		}
		@media (max-width: $xs_max){
			.cart-item-info{
				position: relative;
			}
			.col-remove{
				position: absolute;
			    top: 0;
			    right: 0;
			    width: auto !important;
			}
			.item-name{
				padding-top: 0;
				margin-bottom: 5px;
			}
			.item-subtotal{
				margin-top: 5px;
				.lbl{
					color: $body_color;
				}
			}
		}
	}
}
.pxl-hidden-template.pxl-hidden-template-canvas-cart.pos-right{
	max-width: 645px;
    flex-direction: row;
    @media (max-width: $xxl_max){
    	max-width: 545px;
    }
    @media (max-width: $lg_max){
    	max-width: 450px;
    }
     
	.pxl-hidden-template-wrap{
		padding: 0;
		position: relative;
		width: 100%;
		&:before{
			content: "";
		    position: absolute;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0;
		    background-color: rgba(255,255,255,0.8);
		    z-index: 2;
		    opacity: 0;
		    visibility: hidden;
		    @include transition(all .3s ease);
		}
	}
	&.loading{
		.pxl-hidden-template-wrap{
			&:before{
				opacity: 1;
				visibility: visible;
			}
			&:after{
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.pxl-panel-header{
		padding: 50px 50px 20px;
		@media (max-width: $xxl_max){
	    	padding: 50px 50px 60px 50px;
	    }
	    @media (max-width: $lg_max){
	    	padding: 30px;  
	    }
	    @media (max-width: $xs_max){
	    	padding: 30px 20px;  
	    }
		.panel-header-inner{
			padding-bottom: 30px;
			border-bottom: 1px solid #e9e9e9;
			@media (max-width: $lg_max){
		    	padding-bottom: 30px;
		    }
		}
	}
	.pxl-panel-content{
		padding: 0 50px;
		overflow-y: auto;
	    -webkit-box-flex: 1;
	    -webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	    flex-grow: 1;
	    -webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	    flex-shrink: 0;
	    direction: rtl;
	    @media (max-width: $xxl_max){
	    	padding: 0 50px;
	    }
	    @media (max-width: $lg_max){
	    	padding: 0 30px;  
	    }
	    @media (max-width: $xs_max){
	    	padding: 0 20px;  
	    }
		&::-webkit-scrollbar{
	        height: 0;
	        width: 3px;
	        background-color: transparent;
	    }

	    &::-webkit-scrollbar-track{
	        border-radius: 0;
	    }
	     
	    &::-webkit-scrollbar-thumb{
	        border-radius: 0;
	        background-color: transparent;
	    }

	    &:hover::-webkit-scrollbar {
	        width: 3px;
	        height: auto;
	        background-color: rgba(255,255,255,0.1);
	        border-radius: 0
	    }
	    &:hover::-webkit-scrollbar-thumb{
	        background-color: rgba(48, 48, 48, 0.1);
	    }
	    .widget_shopping_cart_content{
	    	direction: ltr;
	    }
	}
	.pxl-panel-footer{
		padding: 30px 50px 75px;  
		padding-bottom: 75px;
		@media (max-width: $xxl_max){
	    	padding: 30px 50px 75px 50px;  
	    }
	    @media (max-width: $lg_max){
	    	padding: 30px 30px 45px 30px;  
	    }
	    @media (max-width: $xs_max){
	    	padding: 30px 20px 35px 20px;  
	    }
	}
}

.pxl-cart-dropdown {
	position: absolute;
    top: 70px;
    right: -140px;
    width: 395px;
    max-width: 91vw;
    border: 1px solid #d0d0d0;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    margin-top: 10px;
    @include transition(all .2s linear 0s);
    &.open {
    	opacity: 1;
    	visibility: visible;
    	z-index: 9;
    	margin-top: 0;
    }
    ul {
    	margin: 0;
    }
    .pxl-cart-dropdown-inner{
    	position: relative;
		padding: 25px 0 30px 0;
		&:before{
			content: "";
		    position: absolute;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0;
		    background-color: rgba(255,255,255,0.8);
		    z-index: 2;
		    opacity: 0;
		    visibility: hidden;
		    @include transition(all .3s ease);
		}
	}
    .cart-content-body {
    	padding: 0 30px;
    	max-height: 360px;
    	overflow-y: auto;
    	@media (max-width: $lg_max){
    		max-height: 270px;
    	}
    	@media (max-width: $xs_screen){
    		padding: 0 20px;
    	}
    	&::-webkit-scrollbar{
	        height: 0;
	        width: 3px;
	        background-color: transparent;
	    }

	    &::-webkit-scrollbar-track{
	        border-radius: 0;
	    }
	     
	    &::-webkit-scrollbar-thumb{
	        border-radius: 0;
	        background-color: transparent;
	    }

	    &:hover::-webkit-scrollbar {
	        width: 3px;
	        height: auto;
	        background-color: rgba(255,255,255,0.1);
	        border-radius: 0
	    }
	    &:hover::-webkit-scrollbar-thumb{
	        background-color: rgba(48, 48, 48, 0.1);
	    }    
    }
	.mini_cart_item{
		position: relative;
		padding-top: 13px;
		padding-bottom: 13px;
		padding-right: 20px;
		list-style: none;
		@media (max-width: $xxl_max){
	    	padding-right: 50px;
	    }
	    @media (max-width: $lg_max){
	    	padding-right: 35px;
	    }
	    @media (max-width: $xs_max){
	    	padding-right: 30px;
	    }
		.remove{
			position: absolute;
			top: 13px;
			right: 0;
			font-size: 12px;
			color: #000;
			&:hover{
				color: $gray;
			}
		} 
	}
	.product-thumbnail{
		img{
			width: 60px;
			margin-right: 0;
		}
	}
	.product-name{
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 0;
		margin-top: -5px;
	}
	.variation{
		font-size: 14px;
		margin-top: 4px;
		padding-bottom: 4px;
		line-height: 1;
		span{
			margin: 0;
			padding: 0;
			position: relative;
			display: inline-flex;
			&+span{
				padding-left: 8px;
				&:before{
					content: ",";
					position: absolute;
					left: 0;
				}
			}
		}
	}
	.price{
		font-size: 16px;
		line-height: 1;
		color: $heading_color;
		margin-top: 12px;
	}
	.cart-item-quantify{
		display: none;
		padding: 0;
	}
	.cart-content-footer{
		padding: 0 30px;
		margin-top: 20px;
		@media (max-width: $xs_screen){
    		padding: 0 20px;
    	}
		.cart-footer-wrap{
			border-top: 1px solid #d0d0d0;
			padding-top: 15px;
		}
	}
	.woocommerce-mini-cart__total{
		margin-bottom: 25px;
		align-items:center;
		.total-lbl{
			font-size: 18px;
			letter-spacing: 0.015em;
		}
		.total-value{
			font-size: 20px;
			font-weight: 600;
			color: $heading_color;
		}
	}
	.woocommerce-mini-cart__buttons{
		@include d-flex();
		flex-direction: column;
		.button:hover {
			background-color: transparent;
			border: 1px solid $secondary_color;
			color: $heading_color;
		}
		a:first-child{
			order: 1;
		}
		.checkout{
			order: 0;
			margin-bottom: 10px;
		}
	}
}
.pxl-hidden-template-canvas-cart {
	.pxl-title {
		font-family: $heading_font_family;
		font-weight: 500;
		text-transform: uppercase;
		color: $heading_color;
	}
	.pxl-close {
		font-size: 20px;
		color: #000;
		&:hover{
			color: $gray;
		} 
	}
	.mini_cart_item {
		position: relative;
		list-style: none;
		+ .mini_cart_item {
			margin-top: 25px;
		}
		.remove{
			position: absolute;
			top: 13px;
			right: 0;
			font-size: 12px;
			color: #000;
			&:hover{
				color: $gray;
			}
		} 
	}
	.product-thumbnail{
		img{
			width: 60px;
			margin-right: 0;
		}
	}
	.product-name{
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 0;
		margin-top: -5px;
	}
	.variation{
		font-size: 14px;
		margin-top: 4px;
		padding-bottom: 4px;
		line-height: 1;
		span{
			margin: 0;
			padding: 0;
			position: relative;
			display: inline-flex;
			& + span{
				padding-left: 8px;
				&:before{
					content: ",";
					position: absolute;
					left: 0;
				}
			}
		}
	}
	.price{
		font-size: 16px;
		line-height: 1;
		color: $heading_color;
		margin-top: 12px;
	}
	@media (max-width: $xs_screen){
		.cart-item-quantify{
			flex: 0 0 auto;
    		width: 100%;
		    margin-top: 10px;
    		margin-bottom: 10px;
		}
	}
	.pxl-quantity-wrap{
		align-items: center;
		.label{
			display: none;
		}
	}
	.quantity-inner{
		position: relative;
		display: inline-block;
		width: 80px;
		input {
			padding: 0 30px;
		    line-height: 35px;
		    width: 100%;
    		height: 35px;
    		background-color: transparent;
    		border: 1px solid $heading_color;
    		@include border-radius(0px);
    		font-size: 14px;
    		color: $heading_color;
    		text-align: center;
		}
		.quantity-button{
			position: absolute;
			top: 0;
			width: 35px;
			height: 35px;
			line-height: 35px;
			font-size: 12px;
			border: 0;
			cursor: pointer;
			display: flex;
		    align-items: center;
		    color: $heading_color;
		    @include transition(color .3s ease);
		    &:before {
		    	font-family: 'Material-Design-Iconic-Font';
		    	color: $heading_color;
		    }
			&:hover{
				color: #000;
			}
		}
		.quantity-up {
			right: 0;
			justify-content: center;
			&:before {
				content: '\f278';
			}
		}
		.quantity-down {
			left: 0;
			z-index: 1;
			justify-content: center;
			&:before {
				content: '\f273';
			}
		}
		&:hover{
			input{
				border-color: #000;
			}
		}
		
	}
	.woocommerce-mini-cart__total{
		margin-bottom: 20px;
		align-items:center;
		.total-lbl{
			font-size: 17px;
			letter-spacing: 0.015em;
		}
		.total-value{
			font-size: 20px;
			font-weight: 600;
			color: $heading_color;
		}
	}
	.woocommerce-mini-cart__buttons{
		@include d-flex();
		flex-direction: column;
		.button{
			width: 100%;
			&:hover {
				color: $heading_color;
				border: 1px solid $heading_color;
				@include border-radius(0px);
				background-color: transparent;
			}
		}
		a:first-child{
			order: 1;
		}
		.checkout{
			order: 0;
			margin-bottom: 15px;
		}
	}
}

.cart-collaterals{
	background-color: #f0f1f4;
	position: relative;
	margin-top: 10px;
	.cart_totals{
		position: relative;
		padding: 30px 35px 25px 35px;
		@media (max-width: $xs_screen){
			padding: 25px 15px 20px 15px;
		}
		&:before{
			content: "";
		    position: absolute;
		    top: -10px;
		    left: 0;
		    bottom: -10px;
		    right: 0;
		    background-color: rgba(255,255,255,0.8);
		    z-index: 2;
		    opacity: 0;
		    visibility: hidden;
		    @include transition(all .3s ease);
		}
	}
	&:before{
		content: "";
		width: 100%;
		height: 10px;
		background-image: url('../images/cart-total-shap-top.png');
		position: absolute;
	    top: -10px;
	    left: 0;
	    background-repeat: repeat-x;
	}
	&:after{
		content: "";
		width: 100%;
		height: 10px;
		background-image: url('../images/cart-total-shap-bot.png');
		position: absolute;
	    bottom: -10px;
	    left: 0;
	    background-repeat: repeat-x;
	}
	.pxl-heading{
		font-size: 20px;
		padding-bottom: 15px;
		margin-bottom: 20px;
		border-bottom: 1px solid #d0d0d0;
	}
	.cart-total-row{
		margin-bottom: 15px;
	}
	span.lbl{
		font-size: 16px;
		letter-spacing: 0.015em;
	}
	span.value{
		font-size: 16px;
		letter-spacing: 0.015em;
		color: $heading_color;
	}
	.woocommerce-shipping-totals{
		padding-bottom: 30px;
		margin-bottom: 18px;
		border-bottom: 1px solid #d0d0d0;
	}
	.nice-select.shipping_method{
		border: 1px solid #cecece;
		background-color: #fff;
		padding-left: 18px;
		letter-spacing: 0.015em;
		span.current{
			color: $heading_color;
		}
		&:after{
			right: 16px;
		}
	}
	.woocommerce-shipping-calculator{
		margin-top: 10px;
		.shipping-calculator-button{
			font-size: 16px;
    		letter-spacing: 0.015em;
    		color: $body_color;
    		&:hover{
    			color: $link_color;
    		}
		}
		.shipping-calculator-form{
			margin-top: 10px;
			.button{
				width: 100%;
			}	
		}
		.select2-container.select2-container--default .select2-selection--single{
			border: 1px solid #cecece;
		}
		 
		.select2-container.select2-container--default .select2-selection--single .select2-selection__rendered {
		    padding-left: 18px;
		}
		.select2-container--default .select2-selection--single .select2-selection__arrow b{
			display: none;
		}
		.input-text{
			padding: 0 18px;
			border: 1px solid #cecece;
		}
	}
	.order-total{
		margin-bottom: 10px;
		span.lbl{
			font-size: 18px;
			color: #000;
			text-transform: uppercase;
			letter-spacing: 0.05em;
		}
		span.value{
			font-size: 20px;
			font-weight: 600;
			color: #000;
			letter-spacing: 0.015em;
			strong{
				font-weight: 600;
			}
		}
	}
	.wc-proceed-to-checkout{
		padding-bottom: 30px;
		margin-bottom: 18px;
		border-bottom: 1px solid #d0d0d0;
	}
	.checkout-button{
		width: 100%;
	}
	.payment_method_text{
		font-size: 16px;
		color: $heading_color;
		margin-bottom: 10px;
	}
	.blockUI.blockOverlay {
		position: relative !important;
		display: none !important;
	}
	.cart_totals.processing{
		&:before{
			opacity: 1;
			visibility: visible;
		}
		&:after{
			opacity: 1;
			visibility: visible;
		} 
	}
}
.woocommerce-cart-form{
	.continue-shopping{
		margin-top: 40px;
	}
	.pxl-continue-shop{
	    font-size: 16px;
	    line-height: 30px;
	    text-transform: uppercase;
	    letter-spacing: 0.05em;
	    text-decoration: underline;
		text-underline-offset: 3px;
	}
} 
.cart-cross-sell{
	padding-top: 120px;
	@media (max-width: $lg_max){
		padding-top: 80px;
	}
	h3{
	    margin-bottom: 45px;
	    @media (max-width: $lg_max){
			margin-bottom: 30px;
		}
	}
}
.woocommerce-shipping-methods{
	list-style: none;
	li{
		@include d-flex();
		align-items:center;
		justify-content: flex-end;
	}
	input[type="radio"]{
		margin-right: 8px;
    	margin-top: -4px;
	}
	label{
		cursor: default;
		margin: 0;
	}
}
.woocommerce-shipping-calculator{
	.form-row{
		margin-left: 0;
		margin-right: 0;
	}
	select{
		width: 100%;
	}
	.shipping-calculator-form{
		margin-top: 5px;
	}
}

.wc-proceed-to-checkout {
	.btn {
        width: 100%;
    	display: block;
	}
}

.pxl-cart-empty-wrap {
	img.img-bag {
		max-width: 112px;
		margin-bottom: 20px;
	}
	h2 {
		margin-bottom: 12px;
	}
	p.desc {
		margin-bottom: 20px;
		color: $gray;
	}

}
.return-to-shop {
	text-align: center;		
}

.pxl-cart-empty {
	.woocommerce-info {
		margin-bottom: 30px;
	}
	.return-to-shop {
		text-align: center;
		.button:hover {
			border: 1px solid $heading_color;
			color: $heading_color;
			background-color: transparent;
		}		
	}
}