.woocommerce-cart{
	.lbl {
		display: none;
	}
}
label[for="coupon_code"]{
	display: none;
}
table.cart {
	border: 0;
	thead{
		background-color: #F2F2F2;
	}
	th{
		font-weight: 500;
		text-transform: uppercase;
		color: $heading_color;
		padding: 16px 24px;
		border-left: 0;
		border-right: 0;
		border-top: 1px solid #E0E0E0;
		&:first-child{
			border-left: 1px solid #E0E0E0;
		}
		&:last-child{
			border-right: 1px solid #E0E0E0;
		}
		@media (max-width: $md_max){
			display: none;
		}
	}
	 
	td{
		padding: 24px;
	    border-left: 0;
    	border-right: 0;
    	@media (max-width: $lg_max){
    		padding: 24px 15px;
    	}
    	&:first-child{
			border-left: 1px solid #E0E0E0;
		}
		&:last-child{
			border-right: 1px solid #E0E0E0;
		}
    	&.product-thumbnail{
    		padding-right: 0;
    		width: 94px;
    	}
    	&.product-name{
    		padding-left: 16px;
    		@media (min-width: $xxl_min){
	    		width: 458px;
	    	}
	    	@media (max-width: $lg_max){
	    		max-width: 300px;
	    	}
    	}
		&.product-name > div{
			> a{
				font-weight: 700;
				margin: 0 10px;
				&.remove{
					width: 20px;
					height: 20px;
					line-height: 20px;
					color: $white;
					background-color: black;
					text-align: center;
					@include border-radius(50%);
					&:hover{
						background-color: red;
					}
				}
				&:last-child{
					flex-basis: 0;
    				flex-grow: 1;
    				text-align: start;
				}
			}
		}
		&.product-price{
			color: $heading_color;
			font-weight: 500;
			font-size: 20px;
			line-height: 32px;
		}
		&.product-subtotal{
			color: $heading_color;
			font-weight: 500;
			font-size: 20px;
			line-height: 32px;
		}
		&.product-remove{
			@media (min-width: $xl_min){
				width: 120px;
			}
			text-align: center;
			a{
				font-size: 0;
				position: relative;
				width: 40px;
				height: 40px;
				border-radius: 0;
			    border: 1px solid #E0E0E0;
			    color: #E0E0E0;
			    display: inline-flex;
			    justify-content: center;
			    align-items: center;
			    &:before, &:after {
				    content: '';
				    position: absolute;
				    height: 1px;
				    width: 20px;
				    top: 50%;
				    background-color: $gray;
				    transform-origin: 50% 50%;
				    opacity: 1;
				    font-size: 20px;
				    @include transition(transform linear 0.25s);
				}
				&:before{
					@include transform(rotate(45deg));
				}
				&:after{
					@include transform(rotate(-45deg));
				}
				&:hover{
					border-color: $secondary_color;
					&:before, &:after {
						background-color: $secondary_color;
						@include transform(rotate(0deg));
					}
				}
			}
		}
		&.actions{
			border-left: 0;
			border-right: 0;
			padding: 32px 0 32px 0;
		}
		@media (max-width: $md_max){
			@include d-flex();
			align-items:center;
			border-left: 1px solid #E0E0E0;
			border-right: 1px solid #E0E0E0;
			justify-content: space-between;
			&:before,
			a.remove:before{
				display: inline-block;
				text-transform: uppercase;
				font-size: 14px;
				color: $heading_color;
				font-weight: 600;
			}
			 
			&.product-thumbnail,
			&.product-name{
				width: 100%;
				max-width: 100%;
			}
			&.product-name:before,
			&.product-price:before,
			&.product-quantity:before,
			&.product-subtotal:before{
				content: attr(data-title)':\00a0\00a0\00a0\00a0';
			}
			 
		}
	}
	@media (max-width: $md_max){
		tbody>tr:first-child > td:first-child{
			border-top: 1px solid #E0E0E0;
		}
		tbody>tr{
			position: relative;
		}
		td.product-thumbnail{
			background-color: #F2F2F2;
		}
		td.product-remove{
			padding: 0;
			border-bottom: 0;
			a{
				position: absolute;
				top: 15px;
				right: 15px;
				color: $secondary_color;
				border-color: $secondary_color;
				&:before,&:after{
					background-color: $secondary_color;
				}
			}
		} 
	}
	.product-name{
		font-weight: 500;
		color: $heading_color;
		a{
			color: inherit;
			&:hover{
				color: $link_color_hover;
			}
		}
	}
	.size-woocommerce_thumbnail{
		max-width: 70px;
		width: 70px;
	}
	 
	.coupon{
		&:not(.pxl-coupon){
			display: none;
		}
		.pxl-coupon-wrap{
			position: relative;
			width: 450px;
			@include transition(border-color .3s linear);
			@media (max-width: $md_max){
				width: 370px;
			}
			@media (max-width: 991px){
				width: 270px;
			}
			@media (max-width: $sm_max){
				width: 100%;
			}
		}
		.input-text{
			width: 100%;
			border-radius: 0;
			&:hover,&:focus{
				border-color: $secondary_color;
			}
		}
		@media (min-width: $md_min) and (max-width: $md_max){
			button{
				font-size: 0;
			    border: 0;
			    height: 50px;
			    width: 50px;
			    padding: 0 20px;
				&:before{
					content: '\e996';
					font-family: $pxli_font;
					font-size: 16px;
					display: inline-block;
					line-height: 1;

				}
			}
		}
	}
	td.actions{
		button[name="update_cart"]:not(.pxl-update-cart){
			display: none;
		}
		@media (max-width: $md_max){
			display: table-cell;
		}
	}
	button:disabled{
		opacity: 0.3;
		cursor: not-allowed;
	}
	 
	.pxl-btns-continue-update {
		.btn, button{
			@media (min-width: 992px){
				min-width: 216px;
			}
			@media (max-width: $xs_max){
				width: 100%;
			}
		}
	}
}

.pxl-cart-dropdown{
	position: absolute;
    top: 70px;
    right: -140px;
    width: 395px;
    max-width: 91vw;
    border: 1px solid #d0d0d0;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    margin-top: 10px;
    @include transition(all .2s linear 0s);
    &.open{
    	opacity: 1;
    	visibility: visible;
    	z-index: 9;
    	margin-top: 0;
    }
    .pxl-cart-dropdown-inner{
    	position: relative;
		padding: 37px 0 47px 0;
		&:before{
			content: "";
		    position: absolute;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0;
		    background-color: rgba(255,255,255,0.8);
		    z-index: 2;
		    opacity: 0;
		    visibility: hidden;
		    @include transition(all .3s ease);
		}
	}
    .cart-content-body {
    	padding: 0 30px;
    	max-height: 360px;
    	overflow-y: auto;
    	@media (max-width: $lg_max){
    		max-height: 270px;
    	}
    	@media (max-width: $xs_screen){
    		padding: 0 20px;
    	}
    	&::-webkit-scrollbar{
	        height: 0;
	        width: 3px;
	        background-color: transparent;
	    }

	    &::-webkit-scrollbar-track{
	        border-radius: 0;
	    }
	     
	    &::-webkit-scrollbar-thumb{
	        border-radius: 0;
	        background-color: transparent;
	    }

	    &:hover::-webkit-scrollbar {
	        width: 3px;
	        height: auto;
	        background-color: rgba(255,255,255,0.1);
	        border-radius: 0
	    }
	    &:hover::-webkit-scrollbar-thumb{
	        background-color: rgba(48, 48, 48, 0.1);
	    }    
    }
	.mini_cart_item{
		position: relative;
		padding-top: 13px;
		padding-bottom: 13px;
		padding-right: 20px;
		@media (max-width: $xxl_max){
	    	padding-right: 50px;
	    }
	    @media (max-width: $lg_max){
	    	padding-right: 35px;
	    }
	    @media (max-width: $xs_max){
	    	padding-right: 30px;
	    }
		.remove{
			position: absolute;
			top: 13px;
			right: 0;
			font-size: 12px;
			color: #000;
			&:hover{
				color: $gray;
			}
		} 
	}
	.product-thumbnail{
		img{
			width: 60px;
			margin-right: 0;
		}
	}
	.product-name{
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 0;
		margin-top: -5px;
	}
	.variation{
		font-size: 14px;
		margin-top: 4px;
		padding-bottom: 4px;
		line-height: 1;
		span{
			margin: 0;
			padding: 0;
			position: relative;
			display: inline-flex;
			&+span{
				padding-left: 8px;
				&:before{
					content: ",";
					position: absolute;
					left: 0;
				}
			}
		}
	}
	.price{
		font-size: 16px;
		line-height: 1;
		color: $heading_color;
		margin-top: 12px;
	}
	.cart-item-quantify{
		display: none;
		padding: 0;
	}
	.cart-content-footer{
		padding: 0 30px;
		margin-top: 35px;
		@media (max-width: $xs_screen){
    		padding: 0 20px;
    	}
		.cart-footer-wrap{
			border-top: 1px solid #d0d0d0;
			padding-top: 25px;
		}
	}
	.woocommerce-mini-cart__total{
		margin-bottom: 28px;
		align-items:center;
		.total-lbl{
			font-size: 18px;
			letter-spacing: 0.015em;
		}
		.total-value{
			font-size: 20px;
			font-weight: 600;
			color: $heading_color;
		}
	}
	.woocommerce-mini-cart__buttons{
		@include d-flex();
		flex-direction: column;
		.button{
			font-size: 14px;
			width: 100%;
			padding: 14px 35px 14px 35px
		}
		a:first-child{
			order: 1;
		}
		.checkout{
			order: 0;
			margin-bottom: 10px;
		}
	}
}
.pxl-hidden-template-canvas-cart{
	.pxl-title{
		color: $heading_color;
		line-height: 1.2
	}
	.pxl-close{
		font-size: 20px;
		color: #000;
		&:hover{
			color: $gray;
		} 
	}

	.mini_cart_item{
		position: relative;
		padding-right: 80px;
		padding-top: 13px;
		padding-bottom: 13px;
		@media (max-width: $xxl_max){
	    	padding-right: 50px;
	    }
	    @media (max-width: $lg_max){
	    	padding-right: 35px;
	    }
	    @media (max-width: $xs_max){
	    	padding-right: 30px;
	    }
		.remove{
			position: absolute;
			top: 13px;
			right: 0;
			font-size: 12px;
			color: #000;
			&:hover{
				color: $gray;
			}
		} 
	}
	.product-thumbnail{
		img{
			width: 60px;
			margin-right: 0;
		}
	}
	.product-name{
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 0;
		margin-top: -5px;
	}
	.variation{
		font-size: 14px;
		margin-top: 4px;
		padding-bottom: 4px;
		line-height: 1;
		span{
			margin: 0;
			padding: 0;
			position: relative;
			display: inline-flex;
			&+span{
				padding-left: 8px;
				&:before{
					content: ",";
					position: absolute;
					left: 0;
				}
			}
		}
	}
	.price{
		font-size: 16px;
		line-height: 1;
		color: $heading_color;
		margin-top: 12px;
	}
	@media (max-width: $xs_screen){
		.cart-item-quantify{
			flex: 0 0 auto;
    		width: 100%;
		    margin-top: 10px;
    		margin-bottom: 10px;
		}
	}
	.pxl-quantity-wrap{
		align-items: center;
		.label{
			display: none;
		}
	}
	.quantity-inner{
		position: relative;
		display: inline-block;
		width: 80px;
		input{
		    line-height: 34px;
		    width: 100%;
    		height: 34px;
    		border: 1px solid #d0d0d0;
    		font-size: 14px;
    		text-align: center;
		}
		.quantity-button{
			position: absolute;
			top: 0;
			width: 35px;
			height: 34px;
			line-height: 32px;
			font-size: 11px;
			border: 0;
			cursor: pointer;
			display: flex;
		    align-items: center;
		    color: $body_color;
		    @include transition(color .3s ease);
			&:hover{
				color: #000;
			}
		}
		.quantity-up{
			right: 0;
			justify-content: center;
		}
		.quantity-down{
			left: 0;
			z-index: 1;
			justify-content: center;
		}
		&:hover{
			input{
				border-color: #000;
			}
		}
		
	}
	.woocommerce-mini-cart__total{
		margin-bottom: 32px;
		align-items:center;
		.total-lbl{
			font-size: 20px;
			letter-spacing: 0.015em;
		}
		.total-value{
			font-size: 24px;
			font-weight: 600;
			color: $heading_color;
		}
	}
	.woocommerce-mini-cart__buttons{
		@include d-flex0();
		flex-direction: column;
		.button{
			width: 100%;
		}
		a:first-child{
			order: 1;
		}
		.checkout{
			order: 0;
			margin-bottom: 15px;
		}
	}
}

.cart-collaterals{
	padding-top: 30px;
	@media (min-width: $lg_min){
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
	}
	.cart_totals {
		@media (min-width: $xl_min){
			width: 39%;
		}
		@media (max-width: $lg_max){
			width: 50%;
		}
		@media (max-width: $md_max){
			width: 100%;
		}
		 
	}
}
.cart-collaterals{
	.cart_totals{
		display: inline-block;
		> h2{
		 	font-size: 32px;
			line-height: 44px;
			margin: 0;
			padding: 24px 24px 30px 24px;
			background: #F2F2F2;
			position: relative;
			&:after{
				content: "";
				width: calc(100% - 48px);
				height: 1px;
				background-color: $border_color;
				position: absolute;
				left: 24px;
				bottom: 10px;
			}
		}
		table{
			border: none !important;
			background: #F2F2F2;
			border-radius: 0;
		}
		 
		th, td{
			border: none !important;
		}
		th{
			text-align: start;
			padding: 5px 5px 5px 24px;
			font-weight: 400;
			vertical-align: top;
			min-width: 120px;
			[dir="rtl"] &{
				padding: 5px 24px 5px 5px;
			}
			@media (min-width: $sm_min){
				min-width: 160px;
			}
		}
		td{
			padding: 5px 24px 5px 5px;
			text-align: right;
		}
		tr.order-total{
			th,td{
				padding-bottom: 26px;
			}
			td{
				font-weight: 600;
				font-size: 24px;
				line-height: 32px;
				color: $heading_color;
			}
		}
		.woocommerce-Price-amount{
			font-weight: 500;
		}
		.woocommerce-shipping-destination{
			margin-bottom: 0;
			strong{
				font-weight: 400;
			}
		}
		 
	}
	
}
.woocommerce-shipping-methods{
	list-style: none;
	li{
		@include d-flex();
		align-items:center;
		justify-content: flex-end;
	}
	input[type="radio"]{
		margin-right: 8px;
    	margin-top: -4px;
	}
	label{
		cursor: default;
		margin: 0;
	}
}
.woocommerce-shipping-calculator{
	.form-row{
		margin-left: 0;
		margin-right: 0;
	}
	select{
		width: 100%;
	}
	.shipping-calculator-form{
		margin-top: 5px;
	}
}

 
.wc-proceed-to-checkout{
	.btn{
        width: 100%;
    	display: block;
        
	}
}

 
.cart-empty.woocommerce-info{
	display: none;
}
.pxl-cart-empty-wrap{
	img.img-bag{
		max-width: 112px;
		margin-bottom: 20px;
	}
	h2{
		margin-bottom: 12px;
	}
	p.desc{
		margin-bottom: 20px;
		color: $gray;
	}

}
.return-to-shop{
	text-align: center;		
}
 