.woocommerce-cart{
	.lbl {
		display: none;
	}
}
label[for="coupon_code"]{
	display: none;
}
table.cart {
	border: 0;
	thead{
		background-color: #F2F2F2;
	}
	th{
		font-weight: 500;
		text-transform: uppercase;
		color: $heading_color;
		padding: 16px 24px;
		border-left: 0;
		border-right: 0;
		border-top: 1px solid #E0E0E0;
		&:first-child{
			border-left: 1px solid #E0E0E0;
		}
		&:last-child{
			border-right: 1px solid #E0E0E0;
		}
		@media (max-width: $md_max){
			display: none;
		}
	}

	td{
		padding: 24px;
		border-left: 0;
		border-right: 0;
		@media (max-width: $lg_max){
			padding: 24px 15px;
		}
		&:first-child{
			border-left: 1px solid #E0E0E0;
		}
		&:last-child{
			border-right: 1px solid #E0E0E0;
		}
		&.product-thumbnail{
			padding-right: 0;
			width: 94px;
		}
		&.product-name{
			padding-left: 16px;
			@media (min-width: $xxl_min){
				width: 458px;
			}
			@media (max-width: $lg_max){
				max-width: 300px;
			}
		}
		&.product-name > div{
			> a{
				font-weight: 700;
				margin: 0 10px;
				&.remove{
					width: 20px;
					height: 20px;
					line-height: 20px;
					color: $white;
					background-color: black;
					text-align: center;
					@include border-radius(50%);
					&:hover{
						background-color: red;
					}
				}
				&:last-child{
					flex-basis: 0;
					flex-grow: 1;
					text-align: start;
				}
			}
		}
		&.product-price{
			color: $heading_color;
			font-weight: 500;
			font-size: 20px;
			line-height: 32px;
		}
		&.product-subtotal{
			color: $heading_color;
			font-weight: 500;
			font-size: 20px;
			line-height: 32px;
		}
		&.product-remove{
			@media (min-width: $xl_min){
				width: 120px;
			}
			text-align: center;
			a{
				font-size: 0;
				position: relative;
				width: 40px;
				height: 40px;
				border-radius: 0;
				border: 1px solid #E0E0E0;
				color: #E0E0E0;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				&:before, &:after {
					content: '';
					position: absolute;
					height: 1px;
					width: 20px;
					top: 50%;
					background-color: $gray;
					transform-origin: 50% 50%;
					opacity: 1;
					font-size: 20px;
					@include transition(transform linear 0.25s);
				}
				&:before{
					@include transform(rotate(45deg));
				}
				&:after{
					@include transform(rotate(-45deg));
				}
				&:hover{
					border-color: $secondary_color;
					&:before, &:after {
						background-color: $secondary_color;
						@include transform(rotate(0deg));
					}
				}
			}
		}
		&.actions{
			border-left: 0;
			border-right: 0;
			padding: 32px 0 32px 0;
		}
		@media (max-width: $md_max){
			@include d-flex();
			align-items:center;
			border-left: 1px solid #E0E0E0;
			border-right: 1px solid #E0E0E0;
			justify-content: space-between;
			&:before,
			a.remove:before{
				display: inline-block;
				text-transform: uppercase;
				font-size: 14px;
				color: $heading_color;
				font-weight: 600;
			}

			&.product-thumbnail,
			&.product-name{
				width: 100%;
				max-width: 100%;
			}
			&.product-name:before,
			&.product-price:before,
			&.product-quantity:before,
			&.product-subtotal:before{
				content: attr(data-title)':\00a0\00a0\00a0\00a0';
			}

		}
	}
	@media (max-width: $md_max){
		tbody>tr:first-child > td:first-child{
			border-top: 1px solid #E0E0E0;
		}
		tbody>tr{
			position: relative;
		}
		td.product-thumbnail{
			background-color: #F2F2F2;
		}
		td.product-remove{
			padding: 0;
			border-bottom: 0;
			a{
				position: absolute;
				top: 15px;
				right: 15px;
				color: $secondary_color;
				border-color: $secondary_color;
				&:before,&:after{
					background-color: $secondary_color;
				}
			}
		} 
	}
	.product-name{
		font-weight: 500;
		color: $heading_color;
		a{
			color: inherit;
			&:hover{
				color: $link_color_hover;
			}
		}
	}
	.size-woocommerce_thumbnail{
		max-width: 70px;
		width: 70px;
	}
	.coupon{
		&:not(.pxl-coupon){
			display: none;
		}
		.pxl-coupon-wrap{
			position: relative;
			width: 450px;
			@include transition(border-color .3s linear);
			@media (max-width: $md_max){
				width: 370px;
			}
			@media (max-width: 991px){
				width: 270px;
			}
			@media (max-width: $sm_max){
				width: 100%;
			}
		}
		.input-text{
			width: 100%;
			border-radius: 0;
			&:hover,&:focus{
				border-color: $secondary_color;
			}
		}
		@media (min-width: $md_min) and (max-width: $md_max){
			button{
				font-size: 0;
				border: 0;
				height: 50px;
				width: 50px;
				padding: 0 20px;
				&:before{
					content: '\e996';
					font-family: $pxli_font;
					font-size: 16px;
					display: inline-block;
					line-height: 1;

				}
			}
		}
	}
	td.actions{
		button[name="update_cart"]:not(.pxl-update-cart){
			display: none;
		}
		@media (max-width: $md_max){
			display: table-cell;
		}
	}
	button:disabled{
		opacity: 0.3;
		cursor: not-allowed;
	}

	.pxl-btns-continue-update {
		.btn, button{
			@media (min-width: 992px){
				min-width: 216px;
			}
			@media (max-width: $xs_max){
				width: 100%;
			}
		}
	}
}

.pxl-cart-dropdown {
	position: absolute;
	top: 70px;
	right: -140px;
	min-width: 395px;
	max-width: 91vw;
	background-color: #fff;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	margin-top: 10px;
	@include transition(all .2s linear 0s);
	&.open {
		opacity: 1;
		visibility: visible;
		z-index: 9;
		margin-top: 0;
	}
	ul {
		margin: 0;
	}
	.cart-content-body {
		max-height: 360px;
		overflow-y: auto;
		@media (max-width: $lg_max){
			max-height: 270px;
		}
		@media (max-width: $xs_screen){
			padding: 0 20px;
		}
		&::-webkit-scrollbar{
			height: 0;
			width: 3px;
			background-color: transparent;
		}

		&::-webkit-scrollbar-track{
			border-radius: 0;
		}

		&::-webkit-scrollbar-thumb{
			border-radius: 0;
			background-color: transparent;
		}

		&:hover::-webkit-scrollbar {
			width: 3px;
			height: auto;
			background-color: rgba(255,255,255,0.1);
			border-radius: 0
		}
		&:hover::-webkit-scrollbar-thumb{
			background-color: rgba(48, 48, 48, 0.1);
		}    
	}
}

.pxl-cart-widget {
	padding: 30px 23px 30px 30px;
	.pxl-widget-cart-content {
		&.loading {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: rgba(0, 0, 0, 0.4);
				z-index: 1;
			}
			&:after {
				content: "\e95b" !important;
				font-family: $pxli_font;
				font-size: 20px;
				color: $heading_color;
				@include animation(pxl-spin 2s linear infinite);
				position: absolute;
				top: 50%;
				left: 50%;
				@include transform(translate(-50%, -50%));
				z-index: 2;
			}
		}
	}
	.pxl-cart-empty {
		flex-wrap: nowrap;
		gap: 22px;
		.empty-icon {
			i {
				font-size: 30px;
				color: $secondary_color;
			}
		}
		.empty-text {
			max-width: 240px;
		}
	}
	ul {
		list-style: none outside;
		margin: 0;
		padding: 0;
		li {
			padding: 25px 0;
			position: relative;
			display: flex;
			align-items: center;
			clear: both;
			overflow: hidden;
			font-weight: 600;
			border-bottom: 1px solid $heading_color;
			img {
				width: 76px;
				height: 82px;
				object-fit: cover;
			}
			a.remove {
				font-family: 'Nunito Sans';
				position: absolute;
				right: 0;
				top: 21px;
				font-size: 16px;
				font-weight: 600;
				line-height: 1;
				color: $heading_color;
			}
			&:first-child {
				padding-top: 5px;
				a.remove {
					top: 1px;
				}
			}
			.cart-item-wrap {
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				align-items: center;
				gap: 20px;
				width: 100%;
				.cart-item-thumbnail {
					flex-shrink: 0;
				}
				.cart-item-info {
					flex-grow: 1;
				}
				.product-name {
					@include text-truncate-multi-line(15px, 1.7, 2);
					letter-spacing: 0.05em;
					text-transform: uppercase;
					margin-bottom: 0;
					max-height: 47px;
				}						
				.price {
					margin-bottom: 7px;
					.amount {
						color: $heading_color;
						font-size: 17px;
						font-weight: 400;
						letter-spacing: 0.02em;
						margin-bottom: 7px;
					}
				}
				.product-quantity {
					display: none;
				}
			}
		}
	}
	.total {
		margin-top: 29px;
		margin-bottom: 10px;
		letter-spacing: 0.02em;
		.total-lbl {
			font-family: $heading_font_family;
			font-size: 17px;
			font-weight: 500;
			text-transform: uppercase;
			color: $heading_color;
			margin-right: 6px;
		}
		.amount {
			font-size: 17px;
			color: $heading_color;
			font-weight: 400;
		}
	}
	.buttons {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.button {
			padding: 0;
			background-color: transparent;
			color: $secondary_color;
			font-weight: 600;
			line-height: 30px;
			span {
				&:after{
					content: "";
					height: 1px;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 0;
					transition: all 300ms linear;
					transition-delay: 100ms;
					border-bottom: 1px solid;
				}
			}
			&:after {
				content: "\f301";
				font-family: "Material-Design-Iconic-Font";
				font-size: 14px;
				line-height: 1;
				font-weight: normal;
				-moz-osx-font-smoothing: grayscale;
				margin-left: 5px;
				position: relative;
				transition: all 300ms linear;
				opacity: 1;
			}
			&:hover {
				span:after {
					width: 100%;
				}
			}
		}
	}
	&.layout-1 {
		ul .cart-item-wrap .product-info .product-name {
			a {
				@include multiline-hover-underline();
			}
		}
	}
	&.layout-2 {
		ul {
			margin: 12px 0;
			li {
				border-bottom-color: $divider_color;
				a.remove {
					color: $primary_color;
				}			
				&:first-child {
					padding-top: 0;
					a.remove {
						top: -4px;
					}
				}
				.cart-item-wrap {
					.product-name {
						@include text-truncate-multi-line(20px, 1.3, 2);
						letter-spacing: 0.02em;
						text-transform: capitalize;
						margin-bottom: 0;
						max-height: 47px;
					}
					.price {
						margin-bottom: 2px;
						.amount {
							color: $primary_color;
						}
					}
				}
			}
		}
		&:not(:has(.cart-footer-inner)) {
			ul li:last-child {
				padding-bottom: 0;
				border-bottom: none;
			}
		}
		.total {
			margin-top: 16px;
			margin-bottom: 5px;
			.total-lbl {
				font-size: 20px;
				font-weight: 600;
				letter-spacing: 0.02em;
				text-transform: capitalize;
				color: $heading_color;
			}
			.amount {
				color: $primary_color;
			}
		}
		.buttons {
			margin-bottom: -16px;
			.button {
				color: $heading_color;
				&:after {
					color: $primary_color;
				}
			}
		}
	}
	&.layout-3 {
		ul li {
			border-bottom-color: rgba($secondary_color_rgb, 0.1);
			img {
				@include border-radius(5px);
			}
			&:last-child {
				padding-bottom: 0;
				border-bottom: none;
			}
			.cart-item-wrap {
				.product-name {
					@include text-truncate-multi-line(17px, 1.65, 2);
					font-weight: 500;
				}
				.price {
					font-weight: 500;
					margin-bottom: 0;
				}
			}
		}
		.woocommerce-mini-cart__total {
			@include d-flex();
			background-color: $secondary_color;
			@include border-radius(10px);
			padding: 11px 21px;
			justify-content: space-between;
		}
		.total {
			margin-top: 25px;
			margin-bottom: 15px;
			.total-lbl {
				color: #fff;
				letter-spacing: 0.05em;
				&:before {
					content: '\e9e9';
					font-size: 15px;
					color: $primary_color;
					font-family: $pxli_font;
					margin-right: 5px;
				}
			}
			.amount {
				color: #fff;
				font-weight: 300;
			}
		}
		.buttons {
			margin-bottom: -13px;
			.button {
				color: $secondary_color;
				span {
					font-family: $heading_font_family;
					font-size: 15px;
					font-weight: 600;
					letter-spacing: 0.15em;
					color: $secondary_color;
					@include transition();
					&:after {
						content: none;
					}
				}
				&:after {
					content: "\f2ee";
					font-family: "Material-Design-Iconic-Font";
					font-size: 15px;
					font-weight: 700;
					color: $primary_color;
					margin-left: 7px;
				}
				&:hover {
					&:after {
						animation: toRightFromLeft 300ms ease-out;
					}
				}
			}
		}
	}
	&.layout-4 {
		padding: 0;
		.widget-title {
			padding-left: 30px;
			padding-right: 30px;
			margin-bottom: 0;
		}
		.variation {
			&:before {
				content: 'With Addons';
			}
			dt, dd {
				display: none;
			}
		}
		.pxl-cart-empty {
			padding: 30px;
			.empty-icon i {
				color: $primary_color;
			}
		}
		ul {
			margin: 0;
			li {
				padding: 30px;
				background-color: #fff;
				.remove {
					display: none;
				}
				.cart-item-wrap {
					.cart-item-info {
						display: flex;
						align-items: center;
						justify-content: space-between;
						flex-direction: row-reverse;
					}
					.product-name {
						@include text-truncate-multi-line(17px, 1.2, 2);
						font-weight: 400;
						letter-spacing: 0.03em;
						text-transform: capitalize;
					}
					.price .amount {
						font-size: 17px;
						font-weight: 500;
						margin-bottom: 0;
					}
					.product-quantity {
						display: inline-block;
						.quantity {
							max-width: 123px;
							margin-right: 4px;
							.label {
								display: none;
							}
							.qty-field .quantity-inner {
								align-items: center;
								input.qty[type="number"] {
									background-color: transparent;
									border: none;
									padding: 0;
									width: 40px;
									font-size: 15px;
									color: $heading_color;
									font-weight: 500;
								}
								.quantity-button {
									cursor: pointer;
									background-color: $primary_color;
									width: 25px;
									height: 25px;
									@include border-radius(50%);
									display: inline-flex;
									align-items: center;
									justify-content: center;
									&:before {
										font-family: 'Rowdies';
										font-size: 17px;
										font-weight: 400;
										line-height: 1;
										color: #fff;
									}
									&.quantity-up:before {
										content: '+';
										margin-bottom: 3px;
									}
									&.quantity-down:before {
										content: '-';
										margin-bottom: 5px;
									}
								}
							}
						}
					}
				}
				img {
					width: 95px;
					height: 95px;
					background-color: #eae1d6;
					border: 1px solid $divider_color;
				}
			}
		}
		.cart-footer-inner {
			.total {
				margin: 0;
				padding: 26px 30px;
				@include d-flex();
				justify-content: space-between;
				background-color: $divider_color;
				.total-lbl, .total-value .amount {
					font-family: $body_font_family;
					font-weight: 500;
					letter-spacing: 0;
					color: #fff;
				}
			}
			.buttons {
				.button {
					width: 50%;
					background-color: $primary_color;
					font-family: $body_font_family;
					font-size: 15px;
					font-weight: 700;
					height: 60px;
					letter-spacing: 0.1em;
					color: #fff;
					+ .button {
						border-left: 1px solid $divider_color;
					}
					span:after,
					&:after {
						content: none;
					}
					&:hover {
						background-color: #fff;
						color: $primary_color;
					}
				}
			}
		}
	}
}

.cart-collaterals{
	padding-top: 30px;
	@media (min-width: $lg_min){
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
	}
	.cart_totals {
		@media (min-width: $xl_min){
			width: 39%;
		}
		@media (max-width: $lg_max){
			width: 50%;
		}
		@media (max-width: $md_max){
			width: 100%;
		}

	}
}
.cart-collaterals{
	.cart_totals{
		display: inline-block;
		> h2{
			font-size: 32px;
			line-height: 44px;
			margin: 0;
			padding: 24px 24px 30px 24px;
			background: #F2F2F2;
			position: relative;
			&:after{
				content: "";
				width: calc(100% - 48px);
				height: 1px;
				background-color: $border_color;
				position: absolute;
				left: 24px;
				bottom: 10px;
			}
		}
		table{
			border: none !important;
			background: #F2F2F2;
			border-radius: 0;
		}

		th, td{
			border: none !important;
		}
		th{
			text-align: start;
			padding: 5px 5px 5px 24px;
			font-weight: 400;
			vertical-align: top;
			min-width: 120px;
			[dir="rtl"] &{
				padding: 5px 24px 5px 5px;
			}
			@media (min-width: $sm_min){
				min-width: 160px;
			}
		}
		td{
			padding: 5px 24px 5px 5px;
			text-align: right;
		}
		tr.order-total{
			th,td{
				padding-bottom: 26px;
			}
			td{
				font-weight: 600;
				font-size: 24px;
				line-height: 32px;
				color: $heading_color;
			}
		}
		.woocommerce-Price-amount{
			font-weight: 500;
		}
		.woocommerce-shipping-destination{
			margin-bottom: 0;
			strong{
				font-weight: 400;
			}
		}

	}
	
}
.woocommerce-shipping-methods{
	list-style: none;
	li{
		@include d-flex();
		align-items:center;
		justify-content: flex-end;
	}
	input[type="radio"]{
		margin-right: 8px;
		margin-top: -4px;
	}
	label{
		cursor: default;
		margin: 0;
	}
}
.woocommerce-shipping-calculator{
	.form-row{
		margin-left: 0;
		margin-right: 0;
	}
	select{
		width: 100%;
	}
	.shipping-calculator-form{
		margin-top: 5px;
	}
}

.wc-proceed-to-checkout {
	.btn {
		width: 100%;
		display: block;
	}
}

.pxl-cart-empty-wrap {
	img.img-bag {
		max-width: 112px;
		margin-bottom: 20px;
	}
	h2 {
		margin-bottom: 12px;
	}
	p.desc {
		margin-bottom: 20px;
		color: $gray;
	}

}
.return-to-shop {
	text-align: center;		
}

.pxl-cart-empty {
	.woocommerce-info {
		margin-bottom: 30px;
	}
	.return-to-shop {
		text-align: center;
		.button:hover {
			border: 1px solid $heading_color;
			color: $heading_color;
			background-color: transparent;
		}		
	}
}