.woocommerce-pagination {
	@include d-flex();
	padding-top: 50px;
}

.pxl-shop-layout-5 .woocommerce-pagination {
	justify-content: center;
}

// Top bar view
.pxl-shop-topbar-wrap {
	padding-bottom: 55px;
} 
.woocommerce{
	.woocommerce-result-count,
	.woocommerce-ordering {
		margin-bottom: 0;
		float: none;
		min-width: 193px;
	}
}
.woocommerce-result-count{
	font-size: 17px;
	line-height: 30px;
	letter-spacing: 0.02em;
}

select.orderby{
	@include border-radius(0);
	padding: 0 20px;
	font-size: 16px;
	font-weight: 500;
	background-position: calc(100% - 20px) 50%;
	background-repeat: no-repeat;
	background-size: 12px;
	border: 1px solid $border_color;
	background-color: transparent;
	@media (min-width: $xl_min){
		width: 240px;
	}
	&:hover,&:active,&:focus{
		border-color: $secondary_color;
	}
}
@media (max-width: $xs_max){
	.pxl-view-layout-wrap{
		display: none;
	}
}
.pxl-view-layout{
	list-style: none;
	margin: 0 -2px;
	flex-direction: row-reverse;
	li {
		padding: 0 2px;
		color: $heading_color;
		&.lbl{
			display: none;
			padding-right: 18px;
		}
		a {
			font-size: 18px;
			color: $heading_color;
			i {
				line-height: 1;
			}
		}
		&.active a{
			color: $heading_color;
		}
		&.view-list{
			margin-right: 18px;
		}
	}
}

.pxl-shop-layout-2 .pxl-view-layout {
	li {
		a {
			color: $primary_color;
		}
	}
}

.number-result {
	@media (max-width: $sm_max){
		flex: 0 0 100%;
		max-width: 100%;
		margin-top: 15px;
	}
}

// Loop Product Item
.products {
	list-style: none;
	margin: -30px -16px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	> .product{
		float: none;
		padding: 25px 16px;
		position: relative;
	}
}
.pxl-products-thumb {
	position: relative;
	overflow: hidden;
	img{
		width: 100%;
		position: relative;
		@include transition(all .3s linear);
	}
}

.pxl-shop-layout-1 .pxl-products-thumb,
.pxl-shop-layout-2 .pxl-products-thumb {
	.add_to_cart_button,
	.button.product_type_grouped,
	.product_type_external,
	.added_to_cart {
		position: absolute;
		top: 40px;
		bottom: 40px;
		left: 40px;
		right: 40px;
		height: auto;
		transform-origin: top;
		@include transform(scaleY(0));
		@include transition(.35s cubic-bezier(.48,.57,.33,.89));
		.pxl-icon {
			opacity: 0;
			@include transition(all 200ms ease-out 250ms);
		}
	}
	&:hover {
		.pxl-featured,
		.onsale {
			opacity: 0;
		}
		.add_to_cart_button,
		.button.product_type_grouped,
		.product_type_external,
		.added_to_cart {
			@include transform(scaleY(1));
			.pxl-icon {
				opacity: 1;
			}
		}
	}
}

.pxl-shop-layout-2 .pxl-products-thumb {
	.add_to_cart_button,
	.button.product_type_grouped,
	.product_type_external,
	.added_to_cart {
		background-color: $secondary_color;
	}
}

.pxl-shop-layout-3 .pxl-products-thumb {
	.image-wrap {
		@include border-radius(20px);
		overflow: hidden;
	}
	.cal-price-wrap {
		justify-content: space-between;
		position: absolute;
		padding: 6px 27px;
		bottom: 14px;
		right: 16px;
		left: 16px;
		color: #fff;
		background-image: -moz-linear-gradient( 90deg, rgb(169,0,1) 0%, rgb(237,43,44) 100%);
		background-image: -webkit-linear-gradient( 90deg, rgb(169,0,1) 0%, rgb(237,43,44) 100%);
		background-image: -ms-linear-gradient( 90deg, rgb(169,0,1) 0%, rgb(237,43,44) 100%);
		@include border-radius(20px);
		font-weight: 500;
		gap: 5px;
		.price {
			@include d-flex();
			flex-direction: row-reverse;
			font-weight: 600;
			del {
				color: rgba(255, 255, 255, 0.5);
			}
			&:has(del) {
				gap: 15px;
			}
		}
	}
}

.pxl-shop-layout-5 .grid-item {
	.pxl-products-thumb {
		.image-wrap {
			@include border-radius(10px);
			overflow: hidden;
		}
		.btn-wrapper {
			position: absolute;
			bottom: 32px;
			left: 50%;
			@include transform(translateX(-50%));
			.pxl-add-to-cart,
			.pxl-shop-woosmart-wrap {
				display: inline-block;
				@include transform(translateY(10px));
				opacity: 0;
			}
			.pxl-add-to-cart {
				@include transition(all 400ms ease 150ms);
			}
			.pxl-shop-woosmart-wrap {
				@include transition(all 400ms ease);
			}
			.pxl-add-to-cart + .pxl-shop-woosmart-wrap {
				margin-left: 10px;
			}
		}
		.add_to_cart_button,
		.button.product_type_grouped,
		.product_type_external,
		.added_to_cart {
			width: 47px;
			height: 47px;
			@include border-radius(50%);
			font-size: 0;
			background-color: $secondary_color;
			padding: 0;
			.pxl-icon {
				font-size: 15px;
			}
			&:hover {
				color: #fff;
			}
		}
		.pxl-shop-woosmart-wrap {
			.woosw-btn {
				width: 47px;
				height: 47px;
				@include border-radius(50%);
				font-size: 0;
				background-color: $secondary_color;
				padding: 0;
				&:before {
					display: none;
				}
				&:after {
					content: "\e985";
					color: #fff;
					font-family: $pxli_font;
					font-size: 15px;
				}
				&.woosw-adding {
					&:after{
						content: "\e95b" !important;
						@include animation(pxl-spin 2s linear infinite);
					}
				}
				&.woosw-added {
					&:after {
						content: "\e90c";
					}
				}
			}
		}
	}
	.pxl-shop-item-wrap:hover {
		.pxl-add-to-cart,
		.pxl-shop-woosmart-wrap {
			opacity: 1;
			@include transform(translateY(0px));
		}
		.pxl-add-to-cart {
			@include transition(all 400ms ease);
		}
		.pxl-shop-woosmart-wrap {
			@include transition(all 400ms ease 150ms);
		}
	}
}

.pxl-shop-layout-1 .pxl-shop-item-wrap,
.pxl-shop-layout-2 .pxl-shop-item-wrap {
	.woocommerce-loop-product__link {
		display: block;
		font-weight: 700;
		font-size: 22px;
		line-height: 1.5;
		color: $heading_color;
		&:hover {
			color: $link_color_hover;
		}
	}
	.pxl-product-title {
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 10px;
		a {
			@include multiline-hover-underline();
		}
	}
	.price {
		@include d-flex();
		color: $secondary_color;
		font-weight: 400;
		font-size: 20px;
		clear: both;
		white-space: pre-wrap;
		align-items: center;
		line-height: 1;
		del {
			font-size: 20px;
			order: 2;
			padding-left: 15px;
			color: #ababab;
			[dir="rtl"] &{
				padding-left: 0;
				padding-right: 6px;
			}
		}
		ins{
			font-weight: inherit;
			text-decoration: none;
		}
	}
	.add_to_cart_button,
	.button.product_type_grouped,
	.product_type_external,
	.added_to_cart {
		text-align: center;
		justify-content: center;
		font-size: 0;
		.pxl-icon {
			color: $primary_color;
			font-size: 24px;
			position: relative;
			bottom: 1px;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 30px;
			right: 30px;
			left: 30px;
			top: 30px;
			border: 1px solid rgba($primary_color_rgb, 0.4);
			overflow: hidden;
		}
	}
	.add_to_cart_button,
	.product_type_grouped,
	.product_type_external {
		&.loading {
			.pxl-icon{
				display: inline-block;
				@include animation(pxl-spin 2s linear infinite);
				&:before{
					content: "\e95b";
					font-family: "pxli" !important;
					display: block;
				}
			}
		}
		+ .added_to_cart{
			opacity: 0;
			&:before {
				content: '\e942';
				font-family: "pxli";
				font-weight: normal;
				position: static;
				height: auto;
				font-size: 20px;
				color: $primary_color;
			}
		}
		&.added {
			opacity: 0;
			visibility: hidden;
			+ .added_to_cart{
				opacity: 1;
			}
		}
	}
}

.pxl-shop-layout-2 .pxl-shop-item-wrap {
	.pxl-product-title {
		font-size: 23px;
		font-weight: 600;
		margin-bottom: 10px;
		a {
			@include multiline-hover-underline();
		}
	}
	.price {
		color: $primary_color;
		del {
			color: #786c55;
		}
	}
	.add_to_cart_button,
	.product_type_grouped,
	.product_type_external {
		+ .added_to_cart{
			&:before {
				background-color: transparent;
				@include transform(scale(1));
			}
		}
	}
}

.pxl-shop-layout-5 .pxl-shop-item-wrap {
	.add_to_cart_button,
	.product_type_grouped,
	.product_type_external {
		&.loading {
			.pxl-icon{
				display: inline-block;
				@include animation(pxl-spin 2s linear infinite);
				&:before{
					content: "\e95b";
					font-family: $pxli_font !important;
					display: block;
				}
			}
		}
		+ .added_to_cart{
			opacity: 0;
			&:before {
				content: '\e942';
				font-family: $pxli_font;
				font-weight: normal;
				position: static;
				height: auto;
				font-size: 15px;
				color: #fff;
			}
		}
		&.added {
			display: none;
			+ .added_to_cart{
				opacity: 1;
			}
		}
	}
}

.pxl-featured, .onsale{
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-align: center;
	background-color: $secondary_color;
	color: $primary_color;
	padding: 4px 18px;
	z-index: 2;
	min-height: 40px;
	min-width: 120px;
	line-height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	@include transition(all 300ms linear);
}

.pxl-featured + .onsale {
	top: 65px;
}

.pxl-shop-layout-2 .pxl-featured,
.pxl-shop-layout-2 .onsale {
	background-color: $primary_color;
	color: $heading_color;
}

.post-type-archive-product .pxl-shop-layout-3 .hot-sale,
.pxl-shop-layout-3 .related.products .hot-sale {
	position: absolute;
	top: 20px;
	right: 20px;
}

.pxl-shop-layout-3 .products .pxl-featured + .onsale {
	margin-left: 6px;
}

.pxl-shop-layout-3 .pxl-featured,
.pxl-shop-layout-3 .onsale {
	display: inline-flex;
	color: #fff;
	margin-bottom: 28px;
	position: static;
	background-image: -moz-linear-gradient( -90deg, rgb(103,58,183) 0%, rgb(151,59,245) 100%);
	background-image: -webkit-linear-gradient( -90deg, rgb(103,58,183) 0%, rgb(151,59,245) 100%);
	background-image: -ms-linear-gradient( -90deg, rgb(103,58,183) 0%, rgb(151,59,245) 100%);
	text-transform: capitalize;
	font-weight: 500;
	letter-spacing: 0;
	min-height: 32px;
	min-width: 70px;
	@include border-radius(16px);
}

.pxl-shop-layout-5 .pxl-featured,
.pxl-shop-layout-5 .onsale {
	top: 25px;
	right: 25px;
	@include border-radius(5px);
	background-color: $secondary_color;
	color: #fff;
	padding: 5px 15px;
	min-height: 34px;
	min-width: 97px;
	font-size: 13px;
	letter-spacing: 0.05em;
}

/* Content Grid view */
.pxl-products-content {
	padding: 20px 0 11px;
	position: relative;
	.top-content-inner {
		margin-bottom: 5px;
		@media (max-width: $xs_max) {
			display: flex;
		}
	}
}

.pxl-shop-layout-3 .pxl-products-content {
	.pxl-divider {
		width: 60px;
		height: 4px;
		@include border-radius(2px);
		overflow: hidden;
		&:before {
			width: 100%;
			background-color: $secondary_color;
		}
	}
	.pxl-product-title {
		@include text-truncate-multi-line(25px, 1.4, 1);
		font-weight: 600;
		letter-spacing: 0.02em;
		text-transform: capitalize;
	}
	.pxl-loop-product-excerpt {
		margin-top: 15px;
	}
}

.pxl-shop-layout-5 .pxl-products-content {
	padding: 26px 0 0;
	text-align: center;
	.pxl-products-content-inner {
		.top-content-inner {
			margin-bottom: 9px;
			justify-content: center;
			.price {
				font-size: 20px;
				font-weight: 500;
				color: $primary_color;
				del {
					color: #c8c8c8;
				}
				del + ins {
					&:before {
						content: ' - ';
					}
				}
			}
		}
	}
	.pxl-product-title {
		margin-bottom: 9px;
		font-size: 22px;
		font-weight: 500;
		letter-spacing: 0.05em;
	}
	.star-rating {
		letter-spacing: 0px;
	}
	.star-rating > span:before,
	.star-rating .pxl-star-rated:before,
	.star-rating[aria-label="Rated 0 out of 5"]:before {
		color: $primary_color;
	}
}

.pxl-shop-layout-1 .grid-item,
.pxl-shop-layout-2 .grid-item {
	.pxl-shop-woosmart-wrap {
		overflow: hidden;
		.woosw-btn {
			transform: translateX(calc(100% - 18px));
			@media (max-width: $xs_max) {
				transform: none;
			}
		}
	}
	.pxl-products-content-list-view {
		.pxl-shop-woosmart-wrap {
			overflow: hidden;
			.woosw-btn {
				transform: none;
			}
		}	
	}
}

.pxl-shop-woosmart-wrap {
	.woosw-btn {
		background-color: transparent;
		border: none;
		color: $heading_color;
		text-transform: capitalize;
		line-height: 26px;
		letter-spacing: 0.02em;
		font-weight: normal;
		padding: 10px 0;
		font-size: 15px;
		overflow: hidden;
		&:before {
			content: "\e985";
			position: relative;
			width: 17px;
			height: 16px;
			margin-right: 10px;
			color: $primary_color;
			font-family: $pxli_font;
			font-size: 16px;
			text-indent: 0;
			line-height: 1;
			@include transition(color 300ms linear);
		}
		&.woosw-adding {
			&:before {
				content: "\e95b";
				font-family: $pxli_font !important;
				@include animation(pxl-spin 2s linear infinite);
			}
			&:after{
				display: none !important;
			}
		}
		&.woosw-added {
			font-size: 15px;
			&:before {
				content: "\e90c";
				color: $primary_color;
				left: 1px;
			}
		}
	}
	&:hover {
		.woosw-btn {
			transform: translateX(0);
		}
	}
}

.pxl-shop-layout-2 .pxl-shop-woosmart-wrap {
	.woosw-btn {
		&:before {
			background-color: transparent;
			@include transform(scale(1));
		}
	}
}

.post-type-archive-product .pxl-shop-layout-3,
.pxl-shop-layout-3 .related.products .pxl-products-content {
	.btn-wrapper {
		@include d-flex();
    	gap: 10px;
    	margin-top: 33px;
	}
	.pxl-add-to-cart {
		display: inline-flex;
	}
	.stock-wishlist {
		display: inline-flex;
		margin-top: 0;
	}
	.pxl-shop-woosmart-wrap {
		.woosw-btn {
			font-size: 0;
			width: 50px;
			padding: 0;
			height: 50px;
			border-radius: 50%;
			background-image: -moz-linear-gradient(90deg, rgb(12, 12, 12) 0%, rgb(61, 61, 61) 100%);
			background-image: -webkit-linear-gradient(90deg, rgb(12, 12, 12) 0%, rgb(61, 61, 61) 100%);
			background-image: -ms-linear-gradient(90deg, rgb(12, 12, 12) 0%, rgb(61, 61, 61) 100%);
			&:before {
				content: "\e985";
				color: #fff;
				margin-right: 0;
				font-family: $pxli_font;
				font-size: 15px;
				text-indent: 0;
				line-height: 1;
			}
			&.woosw-adding {
				&:before {
					content: "\e95b";
					font-family: $pxli_font;
					@include animation(pxl-spin 2s linear infinite);
				}
			}
			&.woosw-added {
				&:before {
					content: "\e90c";
					margin-right: 0;
				}
			}
		}
	}
}

/* Content list view */
.products.shop-view-list {
	.pxl-products-content {
		display: none;
	}
	.pxl-shop-item-wrap {
		@media (min-width: $sm_min){
			display: flex;
			align-items: center;
			margin-left: -15px;
			margin-right: -15px;
		}
	}
	.pxl-products-thumb {
		@media (min-width: $sm_min){
			width: 50%;
			padding: 15px;
		}
		.pxl-add-to-cart {
			display: none;
		}
		.image-wrap {
			overflow: hidden;
			&:hover {
				img {					
					transform: scale(1.04) translateX(0) !important;
				}
			}
		}
		.pxl-featured, .onsale{
			right: 30px;
			top: 30px;
		}
		&:hover {
			.pxl-featured, .onsale {
				opacity: 1;
			}
		}
	}
	.pxl-products-content-list-view {
		display: block;
		@media (max-width: $xs_max){
			margin-top: 30px;
		}
		@media (min-width: $sm_min){
			width: 50%;
			padding: 15px;
		}
		.pxl-product-title{
			margin-top: 10px;
		}
		.list-view-rating{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			.star-rating + .pxl-shop-woosmart-wrap{
				padding-left: 15px;
				margin-left: 13px;
				position: relative;
				&:before{
					content: "";
					display: block;
					width: 1px;
					height: 25px;
					background-color: $divider_color;
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
		.pxl-loop-product-excerpt{
			margin: 18px 0 32px;
			@include text-truncate-multi-line(16px, 1.625, 3);
		}
		.add_to_cart_button,
		.button.product_type_grouped,
		.product_type_external,
		.added_to_cart{
			width: auto;
			font-size: 13px;
			.pxl-icon {
				margin-left: 8px;
				font-size: 13px;
			}
			&:before,
			&:after {
				content: none;
			}
			&.added {
				opacity: 1;
				visibility: visible;
			}
			&.added_to_cart{
				margin-left: 10px;
			}
		}
		.woosw-btn {
			font-size: 15px;
			&:before {
				content: "\e985";
				color: $primary_color;
				margin-right: 10px;
				left: 1px;
			}
			&.woosw-added {
				&:before {
					content: "\e90c";
				}
			}
		}
	}
	> li {
		&:after{
			content: "";
			height: 1px;
			display: block;
			background-color: $divider_color;
			position: absolute;
			bottom: 0;
			left: 15px;
			right: 15px;
		}
	}
}

.pxl-shop-layout-2 .products.shop-view-list {
	.pxl-products-content-list-view {
		.add_to_cart_button,
		.button.product_type_grouped,
		.product_type_external,
		.added_to_cart {
			overflow: visible;
			background-color: transparent;
			border: 1px solid $primary_color;
			@include transition();
			.pxl-icon {
				@include transition();
			}
			&:before,
			&:after {
				content: '';
			}
			&:before {
				background-color: $primary_color;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				transform-origin: bottom right;
				@include transform(scale(0));
				@include transition(all 300ms ease);
			}
			&:after {
				left: auto;
				right: -10px;
				bottom: -10px;
				top: 8px;
				border-top: none;
				border-left: none;
				border-right: 1px solid $primary_color;
				border-bottom: 1px solid $primary_color;
				background-color: transparent;
				width: 100%;
				height: auto;
				@include transition(all 0.3s ease);
			}
			&:hover {
				color: $secondary_color;
				transition-delay: 0.25s;
				.pxl-icon {
					transition-delay: 0.15s;
					color: $secondary_color;
				}
				&:before {
					transition-delay: 0.15s;
					@include transform(scale(1));
				}
				&:after {
					top: 0;
					right: 0;
					bottom: 0;
					opacity: 1;
				}
			}
		}
	}
}

.pxl-shop-layout-5 .products.shop-view-list {
	.pxl-products-thumb {
		.btn-wrapper {
			display: none;
		}
	}
	.price {
		font-size: 20px;
		font-weight: 500;
		color: $primary_color;
		del {
			color: #c8c8c8;
		}
		del + ins {
			&:before {
				content: ' - ';
			}
		}
	}
}