.woocommerce-notices-wrapper{
	margin-top: 15px;
	margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid $border_color;
	&:empty{
		display: none;
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.woocommerce-error{
		li{
			 
    		@media (min-width: $md_min){
	    		position: relative;
	    		padding-right: 165px;
	    	}
	    	@media (max-width: $sm_max){
	    		@include d-flex();
	    	}
    		a{
    			 
			    @media (min-width: $md_min){
			        position: absolute;
			        top: 50%;
				    right: 0;
				    width: 150px;
				    @include transform(translateY(-50%));
				}
				@media (max-width: $sm_max){
					order: 2;
	    		}
    		}
		}
	}
	.woocommerce-info{

	}
	.woocommerce-message{
		@media (min-width: $sm_min){
			@include d-flex();
			align-items:center;
			justify-content: space-between;
		}
		@media (max-width: $xs_max){
			a.btn{
				display: block;
				margin-top: 10px;
			}
		}
	}
	.btn-secondary:hover{
		background-color: $secondary_color;
	}
}

.woocommerce-error{
	color: $error_color;
} 
.woocommerce-info{
	color: $notice_color;
    background: #F2F2F2;
    padding: 20px 24px;
    font-size: 15px;
}
.woocommerce-message{
	color: $success_color; 
}