.custom-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: auto;
    padding: 30px 15px;
    overflow-y: inherit;
    @include transition();
    opacity: 0;
    &.open {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        opacity: 1;
    }
}

.modal-content {
    background-color: var(--content_bg_color-color);
    padding: 0;
    position: static;
    max-width: 1170px;
    max-height: calc(100vh - 60px);
    overflow-y: auto;
    &::-webkit-scrollbar{
        height: 0;
        width: 0;
        background-color: transparent;
    }
    &::-webkit-scrollbar-track{
        border-radius: 0;
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 0;
        background-color: transparent;
    }
    &:hover::-webkit-scrollbar {
        width: 0;
        height: auto;
        background-color: rgba(255,255,255,0.1);
        border-radius: 0
    }
    &:hover::-webkit-scrollbar-thumb{
        background-color: rgba(48, 48, 48, 0.1);
    }
}

#pxl-quickview-modal {
    .modal-content {
        border: 1px solid $divider_color;
    }
    .modal-heading {
        padding: 21px 43px;
        margin-bottom: 0;
        line-height: 55px;
        letter-spacing: 0.03em;
        font-weight: 400;
        border-bottom: 1px solid $divider_color;
        background-color: $secondary_color;
    }
    .product-content {
        padding: 40px;
        .product-title {
            font-family: 25px;
            color: $primary_color;
            letter-spacing: 0.03em;
        }
        .product-price {
            display: none;
        }
    }
    .product-images {
        border-top: 1px solid $divider_color;
        border-bottom: 1px solid $divider_color;
        img {
            background-color: $primary_color;
        }
    }
    .single-product {
        .content-right {
            padding: 50px;
            border-left: 1px solid $divider_color;
        }
    }
    .yith-wapo-form-style-theme {
        .addon-header {
            padding: 16px 30px;
            background-color: $divider_color;
            margin-bottom: 12px;
            h3 {
                font-size: 20px;
                margin-bottom: 0;
                line-height: 1.2;
                font-weight: 400;
                color: $secondary_color;
                &:empty {
                    display: none;
                }
            }
        }
    }
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}