// Sidebar Widget
.sidebar-shop {
	ul{
		list-style: none;
	}
	.pxl-widget ul li{
		display: flex;
		justify-content: space-between;
		font-size: 15px;
		letter-spacing: 0.02em;
		line-height: 30px;
		a:hover{
			color: $heading_color;
		}
	}
	.widget-title{
		font-size: 20px;
		letter-spacing: 0.01em;
		margin-bottom: 20px;
	}
	.widget + .widget{
		margin-top: 45px;
	}
	.tagcloud a{
		background-color: transparent !important;
		color: #777777;
		display: inline-block;
		font-size: 15px !important;
		line-height: 1.2;
		letter-spacing: 0.02em;
		padding: 0;
		margin-top: 8px;
		margin-right: 15px;
		border-radius: 0;
		border-bottom: 1px solid transparent;
		&:hover{
			color: #111;
			border-color: #111;
		}
	}
}
.pxl-widget-layered-nav{
	ul{
		&.display-list{
			li + li{
				margin-top: 5px;
			}
		}
	}
	.filter-link{
		display: inline-flex;
		align-items: center;
	}
	.term-color, .term-default{
		display: inline-flex;
		flex: none;
		margin-right: 10px;
		position: relative;
		&:before{
			background-image: var(--wvs-tick);
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: 60%;
			content: " ";
			display: block;
			height: 100%;
			position: absolute;
			width: 100%;
			opacity: 0;
			visibility: hidden;
		}
		> span{
			display: inline-block;
			width: 20px;
			height: 20px;
			border-radius: 50%;
		}
	}
	.term-default > span{
		background-color: #d9d9d9;
	}
	.chosen{
		.term-color:before, .term-default:before{
			opacity: 1;
			visibility: visible;
		}
		.term-default > span{
			background-color: #111;
		}
	}
}

/* Widget Search */
.widget_product_search{
	padding: 0 !important;
	border: none !important;
	.widget-title{
		margin: 0 !important;
	}
	form{
		position: relative;
	}
	.search-field {
		padding-right: 50px !important;
		border: 1px solid #dedede;
		font-style: italic;
	}
	button[type="submit"]{
		border: none;
		background-color: $secondary_color;
		color: #fff;
		padding: 0;
		height: 38px;
		width: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 50%;
		right: 9px;
		transform: translateY(-50%);
		font-size: 0;
		&:after{
			content: none;
		}
		&:before{
			display: inline-block!important;
			font-family: pxli;
			content: "\e978";
			font-size: 18px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			background-color: initial;
			font-style: normal;
			font-weight: 400;
			font-variant: normal;
			text-transform: none;
			-webkit-font-smoothing: antialiased;
			transition: 0s;
		}
		&:hover{
			background-color: $primary_color;
		}
	}
}

/* Widget Cart */
#pxl-sidebar-area,
.elementor-widget-sidebar,
.elementor-widget .e-sidebar-widget {
	.widget_shopping_cart {
		.pxl-cart-widget {
			ul {
				list-style: none outside;
				padding: 0;
				li {
					padding: 25px 0;
					position: relative;
					display: flex;
					align-items: center;
					clear: both;
					overflow: hidden;
					font-weight: 600;
					border-bottom: 1px solid $heading_color;
					img {
						width: 76px;
						height: 82px;
						object-fit: cover;
					}
					a.remove {
						font-family: 'Nunito Sans';
						position: absolute;
						right: 0;
						top: 21px;
						font-size: 16px;
						font-weight: 600;
						line-height: 1;
						color: $heading_color;
					}
					&:first-child {
						padding-top: 5px;
						a.remove {
							top: 1px;
						}
					}
					.cart-item-wrap {
						align-items: center;
						.cart-item-info-inner-wrap {
							display: flex;
							flex-direction: column-reverse;
							.product-name {
								@include text-truncate-multi-line(15px, 1.7, 2);
								letter-spacing: 0.05em;
								text-transform: uppercase;
								margin-bottom: 0;
								max-height: 47px;
							}
							.price {
								margin-bottom: 7px;
								.amount {
									color: $heading_color;
									font-size: 17px;
									font-weight: 400;
									letter-spacing: 0.02em;
									margin-bottom: 7px;
								}
							}
						}
						.cart-item-quantify {
							display: none;
						}
					}
				}
			}
			.total {
				margin-top: 29px;
				margin-bottom: 10px;
				letter-spacing: 0.02em;
				.total-lbl {
					font-family: $heading_font_family;
					font-size: 17px;
					font-weight: 500;
					text-transform: uppercase;
					color: $heading_color;
					margin-right: 6px;
				}
				.amount {
					font-size: 17px;
					color: $heading_color;
					font-weight: 400;
				}
			}
			.buttons {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				.button {
					padding: 0;
					background-color: transparent;
					color: $secondary_color;
					font-weight: 600;
					line-height: 30px;
					span {
						&:after{
							content: "";
							height: 1px;
							position: absolute;
							bottom: 0;
							left: 0;
							width: 0;
							transition: all 300ms linear;
							transition-delay: 100ms;
							border-bottom: 1px solid;
						}
					}
					&:after {
						content: "\f301";
						font-family: "Material-Design-Iconic-Font";
						font-size: 14px;
						line-height: 1;
						font-weight: normal;
						-moz-osx-font-smoothing: grayscale;
						margin-left: 5px;
						position: relative;
						transition: all 300ms linear;
						opacity: 1;
					}
					&:hover {
						span:after {
							width: 100%;
						}
					}
				}
			}
			&.layout-1 {
				ul .cart-item-wrap .cart-item-info-inner-wrap .product-name {
					a {
						@include multiline-hover-underline();
					}
				}
			}
			&.layout-2 {
				ul li {
					border-bottom-color: $divider_color;
					a.remove {
						color: $primary_color;
					}			
					&:first-child {
						padding-top: 0;
						a.remove {
							top: -4px;
						}
					}
					.cart-item-wrap {
						.cart-item-info-inner-wrap {
							.product-name {
								@include text-truncate-multi-line(20px, 1.3, 2);
								letter-spacing: 0.02em;
								text-transform: capitalize;
								margin-bottom: 0;
								max-height: 47px;
							}
							.price {
								margin-bottom: 2px;
								.amount {
									color: $primary_color;
								}
							}
						}
					}
				}
				&:not(:has(.cart-footer-inner)) {
					ul li:last-child {
						padding-bottom: 0;
						border-bottom: none;
					}
				}
				.total {
					margin-top: 16px;
					margin-bottom: 5px;
					.total-lbl {
						font-size: 20px;
						font-weight: 600;
						letter-spacing: 0.02em;
						text-transform: capitalize;
						color: $heading_color;
					}
					.amount {
						color: $primary_color;
					}
				}
				.buttons {
					margin-bottom: -16px;
					.button {
						color: $heading_color;
						&:after {
							color: $primary_color;
						}
					}
				}
			}
			&.layout-3 {
				ul li {
					border-bottom-color: rgba($secondary_color_rgb, 0.1);
					img {
						@include border-radius(5px);
					}
					&:last-child {
						padding-bottom: 0;
						border-bottom: none;
					}
					.cart-item-wrap {
						.cart-item-info-inner-wrap {
							.product-name {
								@include text-truncate-multi-line(17px, 1.65, 2);
								font-weight: 500;
							}
							.price {
								font-weight: 500;
								margin-bottom: 0;
							}
						}
					}
				}
				.woocommerce-mini-cart__total {
					@include d-flex();
					background-color: $secondary_color;
					@include border-radius(10px);
					padding: 11px 21px;
					justify-content: space-between;
				}
				.total {
					margin-top: 25px;
					margin-bottom: 15px;
					.total-lbl {
						color: #fff;
						letter-spacing: 0.05em;
						&:before {
							content: '\e9e9';
							font-size: 15px;
							color: $primary_color;
							font-family: $pxli_font;
							margin-right: 5px;
						}
					}
					.amount {
						color: #fff;
						font-weight: 300;
					}
				}
				.buttons {
					margin-bottom: -13px;
					.button {
						color: $secondary_color;
						span {
							font-family: $heading_font_family;
							font-size: 15px;
							font-weight: 600;
							letter-spacing: 0.15em;
							color: $secondary_color;
							@include transition();
							&:after {
								content: none;
							}
						}
						&:after {
							content: "\f2ee";
							font-family: "Material-Design-Iconic-Font";
							font-size: 15px;
							font-weight: 700;
							color: $primary_color;
							margin-left: 7px;
						}
						&:hover {
							&:after {
								animation: toRightFromLeft 300ms ease-out;
							}
						}
					}
				}
			}
			&.layout-4 {
				padding: 0;
				.widget-title {
					padding-left: 30px;
					padding-right: 30px;
					margin-bottom: 0;
				}
				ul {
					margin: 0;
					li {
						padding: 30px;
						background-color: #fff;
						img {
							width: 95px;
							height: 95px;
							background-color: #eae1d6;
							border: 1px solid $divider_color;
						}
					}
				}
				.cart-footer-inner {
					.total {
						margin: 0;
						padding: 26px 30px;
						@include d-flex();
						justify-content: space-between;
						background-color: $divider_color;
						.total-lbl, .total-value .amount {
							font-family: $body_font_family;
							font-weight: 500;
							letter-spacing: 0;
							color: #fff;
						}
					}
					.buttons {
						.button {
							width: 50%;
							background-color: $primary_color;
							font-family: $body_font_family;
							font-size: 15px;
							font-weight: 700;
							height: 60px;
							letter-spacing: 0.1em;
							color: #fff;
							+ .button {
								border-left: 1px solid $divider_color;
							}
							span:after,
							&:after {
								content: none;
							}
							&:hover {
								background-color: #fff;
								color: $primary_color;
							}
						}
					}
				}
			}
		}
	}
}

/* Widget Product Category */
#pxl-sidebar-area.sidebar-shop.default .widget_product_categories,
#pxl-sidebar-area.sidebar-shop.style-2 .widget_product_categories,
.elementor-widget-sidebar.default,
.elementor-widget.default .e-sidebar-widget,
.elementor-widget-sidebar.style-2,
.elementor-widget.style-2 .e-sidebar-widget  {
	.product-categories {
		li a {
			text-transform: uppercase !important;
			&:before{
				bottom: 0 !important;
			}
		}
	}
}

/* Widget Price Filter */
.widget_price_filter {
	.price_slider_wrapper {
		padding-top: 10px;
	}
	.price_slider {
		margin-bottom: 40px;
	}
	.price_slider_amount {
		.price_label {
			margin-top: 7px;
			display: inline-block;
			color: $heading_color;
			font-size: 17px;
			font-weight: 300;
			letter-spacing: 0.02em;
			float: right;
		}
		button {
			padding: 10px 15px 11px 15px;
			margin: 0;
			background-color: transparent;
			color: $heading_color;
			font-size: 13px;
			line-height: normal;
			text-transform: uppercase;
			letter-spacing: 0.15em;
			@include transition(all .3s linear);
			&:before {
				content: '';
				left: 0;
				bottom: 0;
				background-color: $secondary_color;
				clip-path: inset(100% 0 0 0);
			}
			&:hover {
				color: #fff;
				&:before {
					clip-path: inset(0 0 0 0);
				}
			}
		}
	}
	.ui-slider {
		position: relative;
		text-align: start;
	}
	.ui-slider .ui-slider-handle {
		position: absolute;
		z-index: 2;
		width: 9px;
		height: 9px;
		background-color: $secondary_color;
		cursor: ew-resize;
		outline: none;
		transform: rotate(45deg);
		top: -4px;
		+ .ui-slider-handle{
			margin-left: -10px;
		}
	}
	.ui-slider .ui-slider-range {
		position: absolute;
		z-index: 1;
		background-color: $secondary_color;
	}
	.price_slider_wrapper .ui-widget-content{
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 1px;
			background-color: #c8c8c8;
		}
	}

	.ui-slider-horizontal {
		height: 1px;
	}

	.ui-slider-horizontal .ui-slider-range {
		top: 0;
		height: 100%;
	}

	.ui-slider-horizontal .ui-slider-range-min {
		left: 0px;
	}

	.ui-slider-horizontal .ui-slider-range-max {
		right: 0px;
	}
}

#pxl-sidebar-area.style-2 .widget_price_filter {
	.ui-widget-content:before {
		background-color: rgba(200, 200, 200, 0.25);
	}
	.price_slider_amount .price_label {
		color: $primary_color;
		letter-spacing: 0.02em;
	}
	.price_slider_amount {
		button {
			padding: 0 30px;
			height: 40px;
			border: 1px solid $divider_color;
		}
	}
	.ui-slider .ui-slider-handle,
	.ui-slider .ui-slider-range,
	.price_slider_amount button:before {
		background-color: $primary_color;
	}
}

#pxl-sidebar-area.style-3 .widget_price_filter {
	.ui-slider .ui-slider-handle {
		background-color: transparent;
		transform: none;
		@include border-radius(50%);
		width: 8px;
		height: 8px;
		top: -3px;
		+ .ui-slider-handle {
			margin-left: -8px;
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $secondary_color;
			@include border-radius(50%);
			z-index: 2;
		}
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 100%;
			@include transform(translate(-50%, -50%));
			background-color: $primary_color;
			@include border-radius(50%);
			z-index: 1;
			@include transition();
		}
		&:hover {
			&:after {
				width: calc(100% + 8px);
				height: calc(100% + 8px);
			}
		}
	}
	.price_slider_amount {
		button {
			font-family: $heading_font_family;
			font-weight: 500;
			letter-spacing: 0.15em;
			padding: 0 30px;
			height: 40px;
			border: 1px solid $primary_color;
			@include border-radius(5px);
			&:before {
				content: none;
			}
			&:hover {
				background-color: $primary_color;
				color: #fff;
			}
		}
		.price_label {
			font-weight: 500;
		}
	}
}

.widget_rating_filter{
	li.wc-layered-nav-rating{
		>a{
			@include d-flex();
			align-items:center;
			justify-content: space-between;
			color: $gray;
		}
	}
}

.pxl-widget-product-categories, .basilico-wp-widget-filter{
	ul > li{
		overflow: hidden;
		> a{
			&:before{
				content: '\f301';
				font-family: 'Material-Design-Iconic-Font';
				font-size: 17px;
				font-weight: normal;
				line-height: 1;
				vertical-align: middle;
				display: inline-block;
				width: 18px;
				margin-left: -18px;
				opacity: 0;
				transition: all 0.3s ease;
			}
			&:hover{
				&:before{
					opacity: 1;
					margin: 0;
				}
			}
		}
	}
}

/* Widget Recent Product */
.widget_products {
	padding-bottom: 20px !important;
}

.sidebar-shop .widget_products {
	ul {
		list-style: none outside;
		padding: 0;
		li {
			padding: 25px 0;
			position: relative;
			display: flex;
			align-items: center;
			clear: both;
			overflow: hidden;
			font-weight: 600;
			border-bottom: 1px solid $heading_color;
			&:first-child {
				padding-top: 5px;
			}
			&:last-child {
				padding-bottom: 0;
				border-bottom: none;
			}
			img {
				margin-right: 20px;
				width: 76px;
				height: 82px;
				object-fit: cover;
			}
			.product-info {
				.product-price {
					font-size: 17px;
					font-weight: 300;
					letter-spacing: 0.02em;
					margin-bottom: 9px;
					del {
						display: none;
					}
				}
				.star-rating {
					display: none;
				}
				a:has(.product-title) {
					font-family: $heading_font_family;
					@include text-truncate-multi-line(15px, 1.7, 2);
					font-weight: 500;
					letter-spacing: 0.05em;
					color: $heading_color;
					text-transform: uppercase;
				}
			}
		}
	}
}

#pxl-sidebar-area.style-2 .widget_products {
	ul {
		margin: 15px 0;
		li {
			padding: 20px 0;
			border-bottom: none;
			position: relative;
			overflow: visible;
			&:after {
				content: '';
				border-bottom: 1px solid $divider_color;
				position: absolute;
				bottom: 0;
				left: -23px;
				right: -23px;
			}
			&:first-child {
				padding-top: 0;
			}
			&:last-child {
				padding-bottom: 0;
				&:after {
					content: none;
				}
			}
			a:has(.product-title) {
				@include text-truncate-multi-line(20px, 1.05, 2);
				color: $heading_color;
				text-transform: capitalize;
				letter-spacing: 0.02em;
				flex-shrink: 0;
				&:hover {
					color: $primary_color;
				}
			}
			.star-rating {
				display: block;
			}
			.amount {
				margin-left: -1px;
				font-size: 17px;
				letter-spacing: 0.02em;
				color: $primary_color;
				font-weight: 400;
			}
		}
	}
	.star-rating {
		font-size: 15px;
		display: block;
		margin-left: 11px;
	}
}

#pxl-sidebar-area.style-3 .widget_products {
	ul li {
		border-bottom-color: rgba($secondary_color_rgb, 0.1);
		img {
			@include border-radius(5px);
		}
		.product-info {
			.product-price {
				font-weight: 500;
				margin-bottom: 0;
				color: $heading_color;
				del {
					display: inline;
					color: #666666;
					margin-right: 14px;
				}
			}
			a:has(.product-title) {
				@include text-truncate-multi-line(17px, 1.65, 2);
			}
		}
	}
}