.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    vertical-align: bottom;

    &:hover, &:active, &:focus {
        cursor: pointer;
    }

    &:visited {
        text-decoration: none;
    }

    &:focus {
        outline: none;
        outline-offset: 0;
    }

}

.btn, button, .button, input[type="submit"], input[type="button"], .added_to_cart, .btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: $button_font_family;
    font-size: $button_font_size;
    font-weight: $button_font_weight;
    letter-spacing: $button_letter_spacing;
    padding: $button_padding;
    @include border-radius($button_radius);
    background-color: $secondary_color;
    color: #fff;
    line-height: 40px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    @include box-shadow(none);
    @include transition(all 250ms linear 0s);
    .pxl-button-icon {
        color: $primary_color;
        top: -1px;
        @include transition(all 250ms linear 0s);
    }
    span {
        position: relative;
        z-index: 1;
        display: inline-flex;
    }
    &:before {
        content: none;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 0;
        background-color: transparent;
        @include transition(all 250ms linear 0s);
    }
    &.btn-default{
        border: 1px solid $secondary_color;
        &:before {
            content: '';
            background-color: #fff;
        }
        &:hover {
            color: $heading_color;
            i, .pxl-button-icon {
                color: $heading_color;
            }
            &:before {
                height: calc(100% + 1px);
            }
        }
    }
    &.btn-fullwidth {
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    &.btn-outline {
        border: 1px solid $primary_color;
        background-color: transparent;
        color: $secondary_color;
        position: relative;
        overflow: visible;
        transition: all 0.3s ease;
        margin-bottom: 8px;
        &:before {
            content: '';
            left: -1px;
            right: -1px;
            bottom: -1px;
            background-color: $primary_color;
            transition: all 0.3s ease;
            transition-delay: 0ms;
        }
        &.hover-bg-secondary {
            &:before {
                background-color: $secondary_color; 
            }
        }
        &:after {
            content: "";
            position: absolute;
            left: -1px;
            right: -1px;
            bottom: -9px;
            height: 1px;
            background-color: $primary_color;
            opacity: 1;
            @include transition(all 0.3s ease);
            transition-delay: 0.15s;
        }
        &:hover {
            color: $secondary_color;
            transition-delay: 0.25s;
            &:before {
                height: 100%;
                transition-delay: 0.15s;
            }
            &:after {
                content: "";
                bottom: 0px;
                opacity: 0;
                transition-delay: 0ms;
            }
        }
    }
    &.btn-outline-secondary {
        background-color: transparent;
        border: 1px solid $secondary_color;
        color: $secondary_color;
        position: relative;
        overflow: visible;
        transition: all 0.3s ease;
        margin-bottom: 8px;
        &:before {
            content: '';
            background-color: $secondary_color;
            transition: all 0.3s ease;
            transition-delay: 0ms;
        }
        &:after {
            content: "";
            position: absolute;
            left: -1px;
            right: -1px;
            bottom: -9px;
            height: 1px;
            background-color: $secondary_color;
            opacity: 1;
            @include transition(all 0.3s ease);
            transition-delay: 0.15s;
        }
        &:hover {
            color: #fff !important;
            transition-delay: 0.25s;
            &:before {
                height: 100%;
                transition-delay: 0.15s;
            }
            &:after {
                content: "";
                bottom: 0px;
                opacity: 0;
                transition-delay: 0ms;
            }
        }
        &.ct-form-btn {
            background-color: $secondary_color;
            color: $primary_color;
            &:hover {
                color: $secondary_color !important;
                &:before {
                    background-color: #fff;
                }
            }
        }
    }
    &.btn-white {
        border: 1px solid #fff;
        background-color: #fff;
        color: $heading_color;
        position: relative;
        overflow: visible;
        transition: all 0.3s ease;
        margin-bottom: 8px;
        &:before {
            content: "";
            background-color: $primary_color;
            top: auto;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0;
            transition: all 0.3s ease;
            transition-delay: 0ms;
        }
        &:after {
            content: "";
            position: absolute;
            left: -1px;
            right: -1px;
            bottom: -9px;
            height: 1px;
            background-color: #fff;
            opacity: 1;
            @include transition(all 0.3s ease);
            transition-delay: 0.15s;
        }
        &:hover {
            border: 1px solid $primary_color;
            transition-delay: 0.25s;
            &:before {
                height: 100%;
                transition-delay: 0.15s;
            }
            &:after {
                content: "";
                bottom: 0px;
                opacity: 0;
                transition-delay: 0ms;
            }
        }
    }
}

.pxl-luxury {
    .btn, button, .button, input[type="submit"], input[type="button"], .added_to_cart, .btn {
        background-color: $primary_color;
        border-color: $primary_color;
        &:before {
            height: 100%;
            background-color: #fff;
            transform-origin: bottom right;
            @include transform(scale(0));
        }
        &.btn-default {
            &:hover {
                color: $secondary_color;
                transition-delay: 0.15s;
                &:before {
                    @include transform(scale(1));
                }
            }
        }
        &.btn-outline {
            color: $heading_color;
            background-color: transparent;
            &:before {
                background-color: $primary_color;
                transform-origin: bottom right;
                @include transform(scale(0));
            }
            &:after {
                left: auto;
                right: -10px;
                bottom: -10px;
                top: 8px;
                border-right: 1px solid $primary_color;
                border-bottom: 1px solid $primary_color;
                background-color: transparent;
                width: 100%;
                height: auto;
            }
            &:hover {
                transition-delay: 0.25s;
                &:before {
                    transition-delay: 0.15s;
                    @include transform(scale(1));
                }
                &:after {
                    top: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 1;
                }
            }
        }
        &.btn-outline-secondary {
            color: $heading_color;
            background-color: transparent;
            border-color: $secondary_color;
            &:before {
                background-color: $secondary_color;
                transform-origin: bottom right;
                @include transform(scale(0));
            }
            &:after {
                left: auto;
                right: -10px;
                bottom: -10px;
                top: 8px;
                border-right: 1px solid $secondary_color;
                border-bottom: 1px solid $secondary_color;
                background-color: transparent;
                width: 100%;
                height: auto;
            }
            &:hover {
                transition-delay: 0.25s;
                &:before {
                    transition-delay: 0.15s;
                    @include transform(scale(1));
                }
                &:after {
                    top: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 1;
                }
            }
        }
    }   
}

.pxl-pizza {
    .btn, button, .button, input[type="submit"], input[type="button"], .added_to_cart, .btn {
        font-family: $body_font_family;
        border: 1px solid;
        border-color: $divider_color;
        background-color: $primary_color;
        line-height: 60px;
        height: 60px;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 0.1em;
        span + i, i + span {
            margin-left: 13px;
        }
        i {
            font-size: 13px;
        }
        .pxl-button-icon {
            color: #fff;
        }
        &:hover {
            color: #fff;
            i {
                color: inherit;
            }
        }
        &.btn-default {
            overflow: visible;
            &:before {
                content: '';
                position: absolute;
                top: 4px;
                right: -5px;
                bottom: -5px;
                left: 4px;
                height: auto;
                background-color: $divider_color;
                z-index: -1;
            }
            &:hover {
                &:before {
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }
}

.rs-layer.btn, .pxl-button-wrapper .btn, .pxl-button-wrapper button, .pxl-button-wrapper .button, .comment-form button {
    &.btn-gradient {
        @include gradient-x($gradient01_angle, $gradient01_color_from, $gradient01_color_to);
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include border-radius($button_radius);
            @include gradient-x($gradient01_angle, $gradient01_color_to, $gradient01_color_from);
            opacity: 0;
            @include transition(all 250ms linear 0s);
        }
        &:hover {
            @include transition(all 400ms linear 0s);
            background: $gradient01_color_to;
            &:before {
                opacity: 1;
            }
        }
    }
}

.pxl-button-wrapper {
    position: relative;
    z-index: 1;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

//* Button More
.btn-more {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.15em;
    color: $heading_color;
    text-transform: uppercase;
    > span {
        position: relative;
        z-index: 1;
    }
    &:after {
        content: "";
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transition: all 200ms linear;
        transition-delay: 100ms;
        background-color: $heading_color;
    }
    i {
        font-size: 15px;
        transition: all 200ms linear;
        max-width: 0;
        overflow: hidden;
    }
    &:hover {
        color: $secondary_color;
        i {
            margin-left: 5px;
            max-width: 20px;
        }
    }
}

.pxl-luxury .btn-more {
    &:after {
        bottom: -7px;
        background-color: $primary_color;
    }
    &:hover {
        color: $heading_color;
    }
}

.item-readmore .btn {
    i {
        font-size: 14px;
        line-height: 1;
        font-weight: normal;
        margin-left: 5px;
        transition: all 300ms linear;
        position: relative;
        z-index: 1;
        &.pxli-arrow-right-solid {
            font-size: 10px;
            margin-left: 7px;
        }
    }
}

.btn-icon {
    @include d-inline-flex();
    align-items: center;
    justify-content: center;

    i {
        font-size: 21px;
        font-weight: normal;
        transition: all 300ms linear;
        color: #fff;
    }

    &:hover {
        i {
            @include animation(toRightFromLeft 0.3s forwards);
        }

    }

}

.bt-more-plus {
    @include d-inline-flex();
    width: 57px;
    height: 57px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(var(--primary-color-rgb), 0.35);
    i {
        font-size: 20px;
        line-height: 1;
        color: $primary_color;
    }
    &:hover {
        i {
            animation: toRightFromLeft 300ms forwards;
        }
    }
}