$screen_breakpoints: (
    laptop: 1599px,
    tablet_extra: 1199px,
    tablet: 991px,
    mobile_extra: 767px,
    mobile: 575px
) !default;

.pxl-swiper-arrows-false{
    .pxl-slider-arrow-wrap{
        display: none;
    }
    .pxl-swiper-arrows{
        display: none;
    }
}

@each $breakpoint, $max_width in $screen_breakpoints {
    @media (max-width: $max_width){
        .pxl-swiper-arrows-#{$breakpoint}-false{
            .pxl-slider-arrow-wrap{
                display: none;
            }
            .pxl-swiper-arrows{
                display: none;
            }
        }
        .pxl-swiper-arrows-#{$breakpoint}-true{
            .pxl-slider-arrow-wrap{
                display: flex;
            }
            .pxl-swiper-arrows{
                display: flex;
            }
        } 
    }
}