.pxl-pagetitle,
.pxl-pt-wrap {
	color: #fff;
	position: relative;
	z-index: 1;
	.sub-title {
		font-size: 17px;
		letter-spacing: 0.03em;
		position: relative;
		z-index: 3;
		.pxl-divider {
			width: 120px;
			height: 2px;
			margin-bottom: 15px;
		}
		@media (max-width: $sm_max) {
			margin-bottom: 15px;
			font-size: 15px;
		}
	}
	&.layout-1 {
		.main-title {
			color: #fff;
			letter-spacing: 0.05em;
			margin: 0 0 5px;
			text-transform: uppercase;
			span {
				display: inline-block;
				position: relative;
				&:before,
				&:after {
					content: "";
					position: absolute;
					top: 50%;
					@include transform(translateY(-50%));
					display: inline-block;
					width: 30px;
					height: 15px;
					-webkit-mask: url("../images/double-x-icon.jpg");
					mask: url("../images/double-x-icon.jpg");
					background-color: $primary_color;
				}
				&:before {
					left: -48px;
				}
				&:after {
					right: -48px;
				}
				@media (max-width: $xs_max) {
					max-width: 235px;
				}
			}
			@media (max-width: $sm_max) {
				font-size: 50px;
				line-height: 1.1;
			}
		}
	}
	&.layout-2 {
		.main-title {
			color: #fff;
			letter-spacing: 0.1em;
			margin: 0 0 5px;
			text-transform: uppercase;
			> span {
				display: inline-block;
				position: relative;
				&:before,
				&:after {
					content: "";
					position: absolute;
					top: 50%;
					@include transform(translateY(-50%));
					display: inline-block;
					width: 56px;
					height: 2px;
					background-color: $primary_color;
				}
				&:before {
					left: -87px;
				}
				&:after {
					right: -80px;
				}
				@media (max-width: $xs_max) {
					max-width: 235px;
				}
			}
			@media (max-width: $sm_max) {
				font-size: 50px;
				line-height: 1;
			}
		}
	}
	&.layout-3 {
		.main-title {
			color: #fff;
			letter-spacing: 0.1em;
			margin: 0 0 5px;
			text-transform: uppercase;
			> span {
				display: inline-block;
				position: relative;
			}
			@media (max-width: $sm_max) {
				font-size: 50px;
				line-height: 1;
			}
		}
	}
}
.pxl-breadcrumb {
	.br-item {
		display: inline-flex;
		align-items: center;
		font-size: 13px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.15em;
		color: #fff;
		&:last-child {
			.br-divider {
				display: none !important;
			}
		}
	}
	.br-divider {
		padding: 0 7px;
		position: relative;
		color: #fff;
		font-size: 13px;
	}
	a {
		position: relative;
	}
	.br-item + .br-item::before {
		display: none;
	}
	&.layout-2 {
		.br-divider {
			padding: 0 14px 0 13px;
			&:before {
				content: '';
				display: flex;
				width: 18px;
				height: 1px;
				background-color: $primary_color;
			}
		}
	}
}

//* Custom Classes
.custom-pagetitle-1 {
	margin: 0 30px;
	@include border-radius(50%);
	overflow: hidden;
}