.admin-bar .pxl-hidden-template{
    top: 32px;
    @media screen and (max-width: 782px) {
        top: 46px;
        height: calc(100% - 46px);
    }
}

.pxl-page-overlay.active{
    opacity: 1;
    width: 100%;
    height: 100%;
}

//* Panel Default
.pxl-hidden-template{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    right: 0;
    will-change: transform;
    opacity: 0; 
    visibility: hidden;
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    @include transition(all .3s ease);
    .pxl-panel-header {
        .panel-header-inner{
            @include d-flex();
            align-items: center;
        }
    }
    .pxl-panel-content{
        position: relative;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
    &::-webkit-scrollbar{
        height: 0;
        width: 0;
        background-color: transparent;
    }

    &::-webkit-scrollbar-track{
        border-radius: 0;
    }

    &::-webkit-scrollbar-thumb{
        border-radius: 0;
        background-color: transparent;
    }

    &:hover::-webkit-scrollbar {
        width: 0;
        height: auto;
        background-color: rgba(255,255,255,0.1);
        border-radius: 0
    }
    &:hover::-webkit-scrollbar-thumb{
        background-color: rgba(48, 48, 48, 0.1);
    }
}

.pxl-close{
    @include d-flex(); 
    align-items: center;
    position: relative;
    cursor: pointer;
    z-index: 1;
    @include transition(all .3s ease);
    .x-icon{
        width: 40px;
        height: 40px;
        display: inline-flex;
        position: relative;
        justify-content: center;
        align-items: center;
        @include transition(all .3s ease);
        @media (max-width: $sm_max){
            width: 30px;
            height: 30px;
        }
        &:before,
        &:after{
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            top: 50%;
            left: 0;
            margin-top: -1px;
            background-color: #112257;
            transform-origin: 50% 50%;
            opacity: 1;
            @include transition(transform ease 0.25s);
        }
        &:before{
            @include transform(rotate(45deg));
        }
        &:after{
            @include transform(rotate(-45deg));
        }
    }
    .x-text{
        margin-left: 20px;
        font-size: 16px;
        line-height: 1;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        @media (max-width: $sm_max){
            margin-left: 15px;
            font-size: 14px;
        }
    }
    &:hover{
        .x-icon{
            @include transition(all .3s ease);
            &:before,
            &:after{
                @include transform(rotate(0deg));
            }
        }
        .x-text{
            color: #000;
        }
    }
}

.pxl-panel-content{
    .menu-main-container-wrap{
        padding: 0;
        min-height: calc(100% - 50px);
        @include d-flex();
        flex-direction: column;
    }
}
.pxl-hidden-template{
    &.el-builder{
        .pxl-close{
            position: absolute;
            top: 15px;
            right: 15px;
        }
        .elementor-column-gap-default > .elementor-column.elementor-element > .elementor-element-populated{
            padding: 0;
        }
        .elementor-section-boxed .elementor-inner-section > .elementor-column-gap-default{
            margin: 0;
        }
        &.pxl-side-mobile{
            .pxl-close{
                position: relative;
                top: 0;
                right: 0;
                margin-bottom: 15px;
            }
        }
    }
    &.pxl-side-mobile{
        .pxl-close{
            .x-icon{
                margin-left: 0;
            }
        }

    }
    &.mobile-panel-df .pxl-logo{
        max-width: 105px;
        @media (max-width: $xs_max){
            max-width: 70px;
        }
    }
}

.pxl-hidden-template.pos-left{
    width: 100%;
    max-width: 364px;
    right: auto;
    left: 0;
    @include transform(translate(-100%,0));
    @media (max-width: $sm_max){
        max-width: 320px;
    }
    @media (max-width: $xs_max){
        width: 90%;
    }  
    .pxl-panel-header {
        padding: 30px 30px 10px 30px;
        @media (max-width: $xs_screen){
            padding: 30px 20px 10px 20px;
        }
    }
    .pxl-panel-content{
        padding: 30px 40px;
        @media (max-width: $sm_max){
            padding: 30px 30px;
        }
        @media (max-width: $xs_max){
            padding: 30px 30px;
        }
        @media (max-width: $xs_screen){
            padding: 30px 20px;
        }
    }
}
.pxl-hidden-template.pxl-canvas-menu{
    max-width: 445px;
    overflow: visible;
    .pxl-panel-content{
        padding: 0;
    }
    .pxl-close {
        top: 55px;
        right: auto;
        left: 80px;
        @media (max-width: $xxl_max){
            top: 25px;
            left: 50px;
        }
    }
}

.pxl-hidden-template.pos-right{
    width: 100%;
    max-width: 500px;
    right: 0;
    left: auto;
    @include transform(translate(100%,0));
    @media (max-width: $xs_max){
        width: 90%;
    }
    .pxl-hidden-template-wrap{
        position: relative;
        padding: 30px;

    }    
}
.pxl-hidden-template.pos-top{
    width: 100%;
    height: auto;
    max-height: 100%;
    left: 0;
    right: 0;
    @include transform(translate(0,-100%));
    .pxl-panel-header {
        padding: 0;
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 1;
    }
}
.admin-bar .pxl-hidden-template.pos-top{
    max-height: calc(100% - 32px);
}
.pxl-hidden-template.pos-top{
    .pxl-hidden-template-wrap{
        position: relative;
        &:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            @include transition(all .3s ease);
        }
        &:before{
            bottom: 0;
            right: 0;
            background-color: rgba(#ffffff, 0.6);
            z-index: 999999;
            opacity: 0;
            visibility: hidden;
            cursor: progress;
        }

    }
    &.loading{
        .pxl-hidden-template-wrap{
            &:before{
                opacity: 1;
                visibility: visible;
            }

        }
    }
}
.pxl-hidden-template.pxl-search-popup{
    background-color: #fff;
    .pxl-hidden-template-wrap{
        @media (max-width: $sm_max){
            overflow-y: auto;
        }
    }
    .pxl-search-product-form{
        position: relative;
        &:after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 3px;
            background: rgba(#000000, 0.1);
            z-index: 9999999;
            opacity: 1;
            @include transition(all .3s ease);
        }
    }
    &.loading{
        .pxl-search-product-form{
            .pxl-search-field{
                border-bottom-color: transparent;
            }
            &:after{
                @include animation(progress-loading 2s cubic-bezier(0.33, 0, 0.67, 0.99) forwards);
            }
        }
    }
    &.loaded{
        .pxl-search-product-form{
            &:after{
                @include animation(progress-loaded .5s ease-out forwards);
            }
        }
    }
    .pxl-panel-content > .pxl-close{
        display: none;
    }
    .pxl-search-product{
        position: relative;
        .pxl-close{
            font-size: 20px;
            padding: 5px;
            top: 0;
            right: -5px;
            @media (max-width: $sm_max){
                position: fixed;
                top: 15px;
                right: 15px;
            }
        }
    }
}
.elementor-element-edit-mode .pxl-search-product .pxl-close{
    display: none;
}

.pxl-hidden-template.pos-center{
    @include d-flex();
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: none;
    .pxl-hidden-template-wrap{
        width: 100%;
        max-width: 570px;
        max-height: 100vh;
        position: relative;
        border-radius: 0;
        background-color: #fff;
        cursor: default;
        border-radius: 10px;
        @include box-shadow( 0 3px 21px rgba(#ffffff, 0.3));
        @include transition(all .3s ease);
        @include transform(scale(0.6));
        overflow-y: auto;
        @media (max-width: $lg_max){
            max-width: 450px;
        }
        @media (max-width: $sm_max){
            max-width: 420px;
        }
        &::-webkit-scrollbar{
            height: 0;
            width: 0;
            background-color: transparent;
        }

        &::-webkit-scrollbar-track{
            border-radius: 0;
        }

        &::-webkit-scrollbar-thumb{
            border-radius: 0;
            background-color: transparent;
        }

        &:hover::-webkit-scrollbar {
            width: 0;
            height: auto;
            background-color: rgba(255,255,255,0.1);
            border-radius: 0
        }
        &:hover::-webkit-scrollbar-thumb{
            background-color: rgba(48, 48, 48, 0.1);
        }
        &:hover{
            @include box-shadow( 0 8px 30px rgba(#ffffff, 0.3));
        }
    } 
    .pxl-close{
        top: 50px;
        right: 50px;
        color: #000;
        @media (max-width: $xs_max){
            top: 20px;
            right: 20px;
        }
        &:hover{
            color: $gray;
        }
    }
    .pxl-panel-content{
        padding: 0;
    }

    &.open{
        .pxl-hidden-template-wrap{
            @include transform(scale(1));
        }
    }
}
.pxl-hidden-template.pos-center-large{
    @include d-flex();
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: not-allowed;
    padding: 30px 0;
    flex-direction: row;
    overflow-y: inherit;
    .pxl-hidden-template-wrap{
        max-width: 1560px;
        position: relative;
        border-radius: 0;
        cursor: default;
        overflow: hidden;
        @media (max-width: $xxl_max){
            max-width: 90%;
        }
        @media (max-width: $lg_max){
            max-width: calc(100% - 40px);
        }
        
    } 
    .pxl-panel-content{
        padding: 0;
        position: static;
        max-height: calc(100vh - 60px);
        overflow-y: auto;
        &::-webkit-scrollbar{
            height: 0;
            width: 0;
            background-color: transparent;
        }

        &::-webkit-scrollbar-track{
            border-radius: 0;
        }

        &::-webkit-scrollbar-thumb{
            border-radius: 0;
            background-color: transparent;
        }

        &:hover::-webkit-scrollbar {
            width: 0;
            height: auto;
            background-color: rgba(255,255,255,0.1);
            border-radius: 0
        }
        &:hover::-webkit-scrollbar-thumb{
            background-color: rgba(48, 48, 48, 0.1);
        }
    }
    .pxl-close{
        top: 10px;
        right: 10px;
        color: #000;
        padding: 15px;
        border-radius: 50%;
        @media (max-width: $sm_max){
            padding: 10px;
            font-size: 14px;
        }
        &:hover{
            color: $gray;
        }
    }
    
    &.open{
        .pxl-hidden-template-wrap{
            opacity: 1;
            @include transform(scale(1));
        }
    }
}
.admin-bar .pxl-hidden-template.pos-center-large .pxl-hidden-template-wrap{
    max-height: calc(100vh - 92px);
}
.pxl-hidden-template.pos-full{ 
    .pxl-panel-header {
        padding: 0;
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 1;
    }
    .pxl-panel-content{
        padding: 0;
    }
    &.open{
        .pxl-hidden-template-wrap{
            @include transform(scale(1));
        }
    }
}
.pxl-hidden-template.open{
    @include transform(translate(0,0));
    opacity: 1;
    visibility: visible;
    z-index: 99999;
}

//* Cart Sidebar
.pxl-side-cart {
    width: 100%;
    max-width: 360px;
    left: auto;
    background-color: #fff;
    @include transform(translateX(100%));
    .pxl-hidden-template-wrap{
        padding: 50px 35px 60px 35px;
        @media (max-width: $xs_max){
            padding: 50px 20px 60px;
        }
    }
    .cart-title{
        border-bottom: 1px solid $heading_color;
        padding-bottom: 10px;
        margin-bottom: 25px;
        h3{
            font-size: 24px;
        }
    }
    .pxl-panel-content{
        padding: 0 24px 24px 24px;
        @media (max-width: 400px){
            padding: 0 15px 24px 15px;
        }
    }
    .widget_shopping_cart_content{
        ul {
            list-style: none outside;
            padding: 0;
            margin: 0;
            li {
                position: relative;
                display: flex;
                clear: both;
                overflow: hidden;
                a {
                    font-size: 16px;
                    font-weight: 500;
                    text-transform: uppercase;
                }
                > a {
                    flex-shrink: 0;
                }
                .quantity {
                    font-size: 0;
                }
                .amount{
                    margin-left: -1px;
                    font-size: 17px;
                    letter-spacing: 0.02em;
                    color: $heading_color;
                    font-weight: 400;
                }
                .remove {
                    position: absolute;
                    opacity: 0;
                    top: 25px;
                    right: 0;
                    font-family: $body_font_family;
                    line-height: 1;
                    font-size: 22px;
                    font-weight: 500;
                    color: $secondary_color;
                    transition: all 300ms linear 0s;
                }
                &:first-child {
                    .remove {
                        top: 5px;
                    }
                }
                &:hover{
                    .remove{
                        opacity: 1;
                    }
                }
            }
        }
    }
    .woocommerce-mini-cart__total{
        color: $heading_color;
        padding-top: 25px;
        margin-top: 25px;
        border-top: 1px solid $heading_color;
        font-family: $heading_font_family;
        font-size: 17px;
        text-transform: uppercase;
        color: $heading_color;
        strong {
            font-weight: 500;
        }
        .amount{
            font-family: $body_font_family;
            font-size: 17px;
            color: $secondary_color;
            font-weight: 400;
        }
    }

    .woocommerce-mini-cart__buttons{
        .pxl-btn{
            display: block;
            & +.pxl-btn {
                margin-top: 10px;
            }
        }
    }
}