$slider-outer-space: 0;

.pxl-swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: visible;
    z-index: 0;
}

.pxl-swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    @include transition(transform .3s linear);
    -webkit-box-sizing: content-box;
    box-sizing: content-box;

}

.pxl-swiper-slide {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    @include animation(fadeOut 300ms linear 1 forwards);
    &.swiper-slide-visible {
        opacity: 1;
        @include animation(fadeIn 300ms linear 1 forwards);
    }
    &.swiper-slide-active {
        opacity: 1;
        @include animation(fadeIn 300ms linear 1 forwards);
    }
}
.swiper-slide {
    @include d-flex();
    align-items: center;
    justify-content: center;
}

.non-swiper-slide {
    display: none;
}

.slick-slide {
    opacity: 0 !important;
    @include transition();
}

.slick-active {
    opacity: 1 !important;
}

// Multi Column
.swiper-container-multirow-column > .pxl-swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
    .pxl-swiper-slide {
        height: calc((100% - 40px) / 2);
    }
}

.swiper-container-multirow-row > .pxl-swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: row;

    .pxl-swiper-slide {
        height: calc((100% - 40px) / 2);
    }
}

// Direction
.swiper-container-vertical > .pxl-swiper-wrapper {
    //max-height: 500px;
    flex-direction: column;
}


.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

// Cube shadow
.swiper-container-cube .swiper-cube-shadow {
    display: none;
    @include opacity(0);
    visibility: hidden;
}

//* Pxl Swiper arrows
.pxl-swiper-arrows {
    .pxl-swiper-arrow {
        cursor: pointer;
        &.swiper-button-disabled {
            cursor: not-allowed;
        }
        &.absolute {
            position: absolute !important;
        }
        &.default {
            position: absolute;
            top: 50%;
            &.pxl-swiper-arrow-prev {
                left: -150px;
            }
            &.pxl-swiper-arrow-next {
                right: -150px;
            }
        }
        &.center-vertical {
            position: absolute !important;
            top: 50% !important;
            @include transform(translateY(-50%) !important);
        }
    }
    &.style-1 {
        .pxl-swiper-arrow {
            .pxl-icon {
                font-size: 40px;
                line-height: 1;
                color: $primary_color;
            }
            svg {
                width: 40px;
                height: auto;
            }
        }
    }
    &.style-2 {
        .pxl-swiper-arrow {
            background-color: $heading_color;
            width: 65px;
            height: 65px;
            @include border-radius(50%);
            @include d-flex();
            align-items: center;
            justify-content: center;
            transform: none;
            opacity: 1;
            @include transition();
            .pxl-icon {
                font-size: 25px;
                transition: inherit;
            }
            svg {
                width: 25px;
                height: auto;
                transition: inherit;
            }
        }
    }
    &.style-3 {
        .pxl-swiper-arrow {
            width: 87px;
            height: 199px;
            @include d-flex();
            align-items: center;
            justify-content: center;
            border: 1px solid $divider_color;
            .pxl-icon {
                font-size: 25px;
                @include transition();
            }
            svg {
                width: 25px;
                height: auto;
                @include transition();
            }
            &:hover {
                background-color: $secondary_color;
            }
        }
    }
}

.pxl-swiper-arrow {
    position: relative;
}

.nav-horizontal{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    .pxl-swiper-arrow-prev, .pxl-swiper-arrow-next {
        margin: 0 10px;
    }
}

.pxl-swiper-dots,
.slick-dots {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 35px;
    li {
        margin: 0 15px;
        list-style: none;
    }
    .pxl-swiper-pagination-bullet {
        cursor: pointer;
        position: relative;
        width: 6px;
        height: 6px;
        display: block;
        margin: 0 17px;
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            @include transition( all .3s linear);
            border-radius: 50%;
            background-color: $secondary_color;
        }
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            @include transition( all .3s linear);
            opacity: 0;
            border: 1px solid;
            border-color: rgba($secondary_color_rgb, 0.4);
            border-radius: 50%;
        }
        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
        }
        &:hover, &.swiper-pagination-bullet-active{
            &:before {
                width: calc(100% + 3px);
                height: calc(100% + 3px);
            }
            &:after {
                opacity: 1;
                width: calc(100% + 15px);
                height: calc(100% + 15px);
            }
        }
    }
    .slick-active {
        .pxl-swiper-pagination-bullet {
            &:before {
                width: calc(100% + 3px);
                height: calc(100% + 3px);
            }
            &:after{
                width: calc(100% + 15px);
                height: calc(100% + 15px);
                opacity: 1;
            }
        }
    }
}

.pxl-swiper-dots.style-2 {
    .pxl-swiper-pagination-bullet {
        &:before {
            background-color: $primary_color;
        }
        &:after {
            border-color: rgba($primary_color_rgb, 0.75);
        }
    }
}

.pxl-swiper-pagination-bullet.style-2 {
    &:before {
        background-color: $primary_color;
    }
    &:after {
        border-color: rgba($primary_color_rgb, 0.75);
    }
}