.elementor-section {
    .elementor-container{
        flex-wrap: wrap;
        justify-content: center;
    }
}
.elementor-editor-active{
    .pxl-header-sticky{
        display: none;
    }
    .pxl-header-transparent, #pxl-footer{
        position: relative !important;
    }
    #pxl-main{
        margin: 0 !important;
    }
}
.elementor-lightbox .swiper-zoom-container > canvas,
.elementor-lightbox .swiper-zoom-container > img,
.elementor-lightbox .swiper-zoom-container > svg {
    object-fit: cover;
    -o-object-fit: cover;
}

.elementor-container.elementor-column-gap-default >.elementor-column>.elementor-element-populated{
    padding: 0 15px;
}
.elementor-container.elementor-column-gap-extended>.elementor-column>.elementor-element-populated{
	padding: 0 15px;
}
.elementor-column-gap-default>.elementor-column>.elementor-element-populated

.pxl-single-post .single-elementor-content > .elementor{
	margin: 0 -15px;
}
.pxl-single-post .elementor-inner-section > .elementor-column-gap-default{
	margin: 0 -15px;
}
.elementor-section-boxed .elementor-inner-section > .elementor-column-gap-default{
    margin: 0 -15px;
}

.pxl-entry-content {
    .fadeInUp.animated {
        @include animation(pxlFadeInUp 1s linear);
        @include transition(all 1s linear);
        &.animated-slow{
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
        }
        &.animated-fast{
            -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
        }
    }

    .fadeInDown.animated {
        @include animation(pxlFadeInDown 1s linear);
        @include transition(all 1s linear);
        &.animated-slow{
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
        }
        &.animated-fast{
            -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
        }
    }
    .fadeInLeft.animated {
        @include animation(pxlFadeInLeft 1s linear);
        @include transition(all 1s linear);
        &.animated-slow{
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
        }
        &.animated-fast{
            -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
        }
    }
    .fadeInRight.animated {
        @include animation(pxlFadeInRight 1s linear);
        @include transition(all 1s linear);
        &.animated-slow{
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
        }
        &.animated-fast{
            -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
        }
    }
}

//* Icon list
.elementor-widget-icon-list .elementor-icon-list-item{
    .elementor-icon-list-icon{
        flex: none;
    }
    @media (max-width: $xs_max) {
        align-items: flex-start !important;
        .elementor-icon-list-icon{
            margin-top: 0.3em;
        }
    }
}

//* Image Box
.elementor-image-box-wrapper{
    .elementor-image-box-img{
        flex: none !important;
        @media (max-width: 575px){
            margin-bottom: 15px !important;
        }
    }
}

//* Icon Box
.elementor-icon-box-wrapper {
    .elementor-icon-box-title {
        font-family: $heading_font_family;
        text-transform: uppercase;
    }
    .elementor-icon-box-description {
        font-family: $body_font_family;
    }
}

.pxl-section-offset-left{
    @media (min-width: $xl_min) {
        &.pxl-container-width-container-1200{
            padding-left: calc( (100% - 1170px)/2) !important;
        }
    }
    @media (min-width: 1570px) {
        &.pxl-container-width-container-1570{
            padding-left: calc( (100% - 1540px)/2) !important;
        }
    }
}
.pxl-section-offset-right{
    @media (min-width: $xl_min) {
        &.pxl-container-width-container-1200{
            padding-right: calc( (100% - 1170px)/2) !important;
        }
    }
    @media (min-width: 1570px) {
        &.pxl-container-width-container-1570{
            padding-right: calc( (100% - 1540px)/2) !important;
        }
    }
}

.pxl-shape-divider-pos-top .pxl-shape-divider{
    top: -1px;
} 
.pxl-shape-divider-mask{
    .pxl-shape-divider{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        left: 0;
        line-height: 0;
        direction: ltr;
        mask-image: var(--ss-mask-url);
        -webkit-mask-image: var(--ss-mask-url);
        -ms-mask-image: var(--ss-mask-url);
        -o-mask-image: var(--ss-mask-url);
        -webkit-mask-repeat: no-repeat;
        -ms-mask-repeat: no-repeat;
        -o-mask-repeat: no-repeat;
        background-color: #fff;
    }
    &.pxl-shape-divider-pos-top{
        .pxl-shape-divider{
            -webkit-mask-position: center top;
            -ms-mask-position: center top;
            -o-mask-position: center top;
            mask-position: center top;
        }
    }
    &.pxl-shape-divider-pos-bottom{
        .pxl-shape-divider{
            -webkit-mask-position: center bottom;
            -ms-mask-position: center bottom;
            -o-mask-position: center bottom;
            mask-position: center bottom;
        }
    }
}
.elementor-widget-wrap{
    transition: all 100ms linear 0s;
}