.pxl-scroll-top {
	position: fixed;
	z-index: 99;
	bottom: 24px;
	right: 30px;
	height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: $primary_color;
	opacity: 0;
	visibility: hidden;
	i{
		font-size: 20px;
		color: #fff;
	}
	&:hover, &:focus, &:active {
		i {
			@include animation(toTopFromBottom .3s forwards);
		}
	}
	&.on {
		bottom: 44px;
		opacity: 1;
		visibility: visible;
	}
}

.pxl-footer.scroll-off:after{display: none;}
 
.pxl-footer{
    .pxl-heading-wrap{
        // .heading-title{
        //     color: $white;
        // }
        h4{
            font-size: 24px;
        }
    }
	.pxl-nav-menu{
		ul > li{
			a{
				position: relative;
				transition: all 200ms ease 0s;
				&:before{
					content: "";
					display: inline-block;
					width: 4px;
					height: 4px;
					border-radius: 50%;
					background-color: #fff;
					vertical-align: middle;
					margin-right: 5px;
					transform: scale(0);
				}
				> span{
					transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1) !important;
					display: inline-block;
					transform: translateX(-23px);
					&:before{
						content: "";
						display: inline-block;
						width: 4px;
						height: 4px;
						border-radius: 50%;
						background-color: #fff;
						vertical-align: middle;
						margin-right: 10px;
						transform: scale(0);
					}
				}
				&:hover{
					> span{
						transform: translateX(0);
					}
					margin-left: 0;
					&:before{
						transition: all 200ms linear 200ms;
					}
					> span:before{
						transition: all 200ms linear 300ms;
					}
					&:before, > span:before{
						transform: scale(1);
					}
				}
			}
			& + li{
				margin-top: 10px;
			}
		}
	}
}

.pxl-footer-fixed {
	#pxl-footer.footer-type-el {
		width: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: -1;
		@media (max-width: $lg_max){
			position: static;
		}
	}
	#header-type-el {
		background-color: #fff;
	}
	#pxl-main {
		background-color: #fff;
		@media (max-width: $lg_max){
			margin-bottom: 0 !important;
		}
	}
}

/* Default Footer */
.pxl-footer-bottom{
	padding-top: 30px;
	padding-bottom: 30px;
	background: $primary_color;
	color: #fff;
	font-size: 16px;
}
 
.pxl-copyright-text{
	a{
		color: $secondary_color;
		&:hover{
			color: #fff;
		}
	}
}

@media (max-width: 575px){
	.elementor-widget-icon-list .elementor-icon-list-item .elementor-icon-list-icon .fa-square-full {
		margin-top: 5px;
	}
}