@media (min-width: $xl_min){
    .header-height{
        height: $header-height;
    }
}
#pxl-header{
    .header-container{
        max-width: 1570px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 15px;
    }
}

/* Header Layout */
 .header-main-menu{
    >.elementor-container{
        background-color: #fff;
        @include box-shadow(0px 10px 60px 0px #{'rgba(var(--primary-color-rgb),0.15)'});
    }
 }

 .pxl-dropdown-mega .elementor-widget-image a:hover{
    @include transform(translateY(-10px));
    @include transition();
 }
 .pxl-dropdown-mega .pxl-category-box-wrap{
    .pxl-cat-img{
        overflow: hidden;
        img{
            @include transform(scale(1));
            @include transition(all .6s linear);
        }
    }
    &:hover .pxl-cat-img img{
        @include transform(scale(1.1));
    }
 }

 /* Header Logo */
 .pxl-header-logo{
     img{
         max-height: 49px;
         width: auto;
     }
     a{
         display: block;
         @media (max-width: $lg_max){
             padding-top: 10px;
             padding-bottom: 10px;
         }
     }
 }

 /* Header Transparent */
 .pxl-header-transparent{
     @media (min-width: $md_min) {
         position: absolute;
         left: 0;
         right: 0;
     }
     z-index: 99;
     .header-main-menu > .elementor-container{
         background-color: transparent;
         @include box-shadow(none);
     }
     // Menu
     .menu-color{
         color: var(--transparent-regular);
         &:hover{
             color: var(--transparent-hover);
         }
     }
 }